<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{ /css/index.css }"/>
    <link rel="stylesheet" th:href="@{ /css/cart.css }">
    <title>DANAKA-장바구니</title>

    <script type="text/javascript">
        // 장바구니 수량, 가격 계산 및 출력 관련 메서드 객체
        let cart = {
            totalCount: 0,
            totalPrice: 0,
            // 재계산 메서드
            reCalc: function() {
                this.totalCount = 0;
                this.totalPrice = 0;

                document.querySelectorAll(".pNum").forEach(function (item) {

                    if($(item.parentElement.parentElement).hasClass("active") === true){

                        var count = parseInt(item.getAttribute('value'));
                        this.totalCount += count;
                        var price = item.parentElement.querySelector("input[type=hidden]").getAttribute('value');
                        this.totalPrice += count * price;


                    }

                }, this);

                this.updateUI();
            },
            updateUI: function () {
                document.querySelector('#sum_p_num').textContent = '상품 ' + this.totalCount.formatNumber() + '개';
                document.querySelector('#sum-order-price').textContent = '합계금액: ' + this.totalPrice.formatNumber() + '원';
            },
            changePNum: function (e) {
                console.log(e);
                var cartNo = $(e).parent().parent().val().toString();
                var pNum = $(e).val();
                $(e).attr('value', pNum);

                var price = e.parentElement.querySelector("input[type=hidden]").getAttribute('value');
                var calcPrice = pNum * price;
                $(e).parent().parent().find('.calc-price').html(`${calcPrice.formatNumber()} 원`);

                // ajax 장바구니 상태변경 업데이트 메소드

                $.ajax({
                    type:'post',   //post 방식으로 전송
                    url:'cart/update-db',   //데이터를 주고받을 파일 주소
                    traditional: true, //Array 형식의 데이터를 전송할 때는 traditional: true 옵션을 적용
                    data: {
                        "cartNo" : cartNo,
                        "amount" : pNum
                    },  //위의 변수에 담긴 데이터를 전송해준다.
                    success: function (data) {
                        console.log(data);
                    }
                })
                this.reCalc();


            },
            // 주문하기
            purchase: function() {
                let purchaseList;
                purchaseList = [];

                document.querySelectorAll("li.active").forEach( function (item) {
                    // 리스트벨류 스트링배열 객체담기
                    var cartNo = $(item).val();
                    purchaseList.push(cartNo);
                });
                console.log(purchaseList.toString());
                $("#cartNoList").attr("value", purchaseList.toString());

                console.log($("#cartNoList").val());
            }
        }

        // 숫자 포매터 3자리 , 찍기
        Number.prototype.formatNumber = function(){
            if(this==0) return 0;
            let regex = /(^[+-]?\d+)(\d{3})/;
            let nstr = (this + '');
            while (regex.test(nstr)) nstr = nstr.replace(regex, '$1' + ',' + '$2');
            return nstr;
        };
    </script>
</head>


<body onclick="cart.reCalc();">
<div class="header">
    <th:block th:replace="~{common/header :: header}"/>
</div>

<!--    <h3>1. selectAllCart 장바구니페이지에서 회원번호별 카트에 담긴 모든 상품 select method</h3>-->
<!--    <form action="/cart/selectAllCart" method="post">-->
<!--        <label>회원번호 : </label><input type="number" name="userNo" placeholder="회원번호를 입력하세요.">-->
<!--        <input type="submit" value="회원장바구니 조회">-->
<!--    </form>-->

<div class="wrapper">

    <div class="cart-wrapper">
        <form>
            <p>
                <button id="btn-select-all-cart" type="button" class="btn btn-outline-primary btn-lg">
                    <span class="material-symbols-outlined">check_circle</span>
                    <span class="btn-text-1">전체선택</span>
                </button>

                <!--전체선택 버튼 활성 비활성 스크립트-->
                <script type="text/javascript">
                    $("#btn-select-all-cart").on("click", function () {

                        if ($("#btn-select-all-cart").hasClass("active") === true) {
                            $("#btn-select-all-cart").removeClass("active");
                            $("li").removeClass("active")
                        } else {
                            $("#btn-select-all-cart").addClass("active");
                            $("li").addClass("active");

                        }
                        cart.purchase();
                    });
                </script>

                <button id="btn-remove-cart" type="button" class="btn btn-outline-secondary btn-lg" onclick="deleteCart();">
                    <span class="material-symbols-outlined">remove_shopping_cart</span>
                    <span class="btn-text-1">선택삭제</span>
                </button>

                <!--         선택삭제 메서드 스크립트     -->
                <script type="text/javascript">
                    deleteCart = function () {
                        var cartNoList = [];
                        document.querySelectorAll("li.active").forEach(function (e){
                            cartNoList.push($(e).val());
                            console.log($(e).val());
                        });
                        console.log(cartNoList);

                        $.ajax({
                            type:'post',   //post 방식으로 전송
                            url:'cart/delete-db',   //데이터를 주고받을 파일 주소
                            traditional: true, //Array 형식의 데이터를 전송할 때는 traditional: true 옵션을 적용
                            data: { "cartNoList": cartNoList},  //위의 변수에 담긴 데이터를 전송해준다.
                            success: function (data) {
                                console.log(data);
                            },
                            error: function () {
                                console.log("delete error")
                            }

                        });
                        // alert("선택한 상품을 장바구니에서 삭제합니다.")

                        document.querySelectorAll("li.active").forEach(function (e){
                            e.remove();
                        });
                        cart.purchase();
                    }
                </script>


            </p>

            <ul id="cart-list" class="list-group">
                <script>
                    let cartListIndex = -1;
                </script>
                <!--  class 에 선택되면 active 추가 선택취소 active 제거 -->
                <li class="list-group-item" th:each="cart : ${cartList}" name="cartNo" th:value="${cart.cartNo}">
                    <span class="item-component item-thumnail">
                        <img class="item-thumnail" th:src="${cart.tSavePath}?:'/image/line/lineDefault.png'">
                    </span>
                    <span class="item-component item-info">
                        <p id="item-info-title"
                           th:text="|${cart.brandName} ${cart.productName}|">브랜드명 + 제품명</p>
                        <p id="item-info-options"
                           th:text="|${cart.option1}, ${cart.option2}, ${cart.option3}, ${cart.option4}|">옵션1, 옵션2, 옵션3, 옵션4</p>
                    </span>
                    <span class="item-component item-amount">
                        <input class="pNum" type="number" step="1" min="1" max="999" th:value="${cart.amount}" oninput="cart.changePNum(this);" style="width: 100%; font-size: x-large;"/>
                        <input class="pPrice" type="hidden" th:value="${cart.price}" />
                    </span>
                    <span class="item-component item-price">
                        <p class="calc-price" th:text="${cart.price} * ${cart.amount}"></p>
                    </span>
                    <script>
                        cartListIndex += 1;
                    </script>
                </li>
            </ul>

            <script type="text/javascript">
                for (let i = 0; i <= cartListIndex; i++) {
                    var $element = $(".list-group li").eq(i)
                    // console.log("i = "+i);
                    var pNum = $element.find(".pNum").val();
                    // console.log("pNum = "+pNum);
                    var price = $element.find(".pPrice").val();
                    // console.log("price = "+price);
                    var calcPrice = pNum * price;
                    $element.find('.calc-price').html(`${calcPrice.formatNumber()} 원`);
                }
            </script>


            <!--li 버튼 클릭 활성 비활성-->
            <script type="text/javascript">
                $("li").on("click", function (e) {
                    if ($("#btn-select-all-cart").hasClass("active") === true) {
                        $("#btn-select-all-cart").removeClass("active");
                    }

                    if ($(e.target).hasClass("active") === true) {
                        $(e.target).removeClass("active")
                    } else {
                        $(e.target).addClass("active");

                    }
                    cart.purchase();
                });
            </script>

        </form>
    </div>
    <div class="cart-order">
        <span id="placeholder-price"></span>
<!--        // list에 active 클래스네임으로 필터링 해서 계산-->
        <span id="sum-order-price"> 0 원</span>

        <form action="/product/purchase" method="post">
            <button id="btn-order" type="submit" class="btn btn-outline-primary btn-lg">
                    <span class="material-symbols-outlined">check_circle</span>
                    <span id="sum_p_num" class="btn-text-1">개</span>
                    <span class="btn-text-1">주문</span>
            </button>
            <input type="hidden" id="cartNoList" name="cartNoList" value="none"/>
        </form>

    </div>


</div>


</body>

</html>