<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DANAKA-장바구니</title>
</head>
<body>

    <h3>1. selectAllCart 장바구니페이지에서 회원번호별 카트에 담긴 모든 상품 select method</h3>
    <form action="/cart/selectAllCart" method="post">
        <label>회원번호 : </label><input type="text" name="userNo" placeholder="회원번호를 입력하세요.">
        <input type="submit" value="회원장바구니 조회">
    </form>

    <h3>2. registCart 회원번호별 다른페이지 요청에 의해 장바구니에 담는 insert method</h3>

    <h3>3. updateCart 장바구니페이지에서 선택된 장바구니 번호 별 수량을 수정하는 update method</h3>

    <h3>4. deleteCart 장바구니페이지에서 선택된 장바구니 번호 별 삭제 delete method</h3>



</body>
</html>