<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<div class="col-md-6 text-center mb-5" align="center">
  <img src="/static/image/DANAKA.png" onclick="location.href='/'">
</div>
<div class="col-md-6 text-center mb-5" align="center">
  <img src="/static/image/fishingFail.png" onclick="location.href='/'">
</div>
</body>
</html>