<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/modal.css"/>
</head>
<body>
<div id="successM" class="modal" th:fragment="successM">
  <div class="modalContent">
        <div class="modalClose"><button type="button" class="modalCloseButton">x</button></div>
        <div><p th:text="${ successMessage?:'' }"></p></div>
        <div id="modalImgContainer"><img id="modalImg" th:src="@{ /image/check.png }" alt="성공 이미지"></div>
        <div class="modalButtonsContainer">
            <button type="button" class="modalButtons" th:onclick="|location.href='@{/product/list2(categoryCode=${ product.categoryCode })}'|">쇼핑 계속하기</button>
            <button type="button" class="modalButtons" th:onclick="|location.href='@{ /main }'|">메인화면 가기</button>
        </div>
  </div>
  <div class="modalLayer"></div>
</div>
<div id="shareM" class="modal" th:fragment="shareM">
    <div class="modalContent">
        <div class="modalClose"><button type="button" class="modalCloseButton">x</button></div>
        <div><p>공유하기</p></div>
        <div id="shareButtonsContainer">
            <button type="button" class="shareButtons" id="twShare" onclick="snsShare('tw')"><img src="https://cdn-icons-png.flaticon.com/512/145/145812.png"></button>
            <button type="button" class="shareButtons" id="fbShare" onclick="snsShare('fb')"><img src="https://cdn-icons-png.flaticon.com/512/4494/4494475.png"></button>
            <button type="button" class="shareButtons" id="ktShare" onclick="snsShare('kt')"><img src="https://cdn-icons-png.flaticon.com/512/3669/3669973.png"></button>
            <button type="button" class="shareButtons" id="nvShare" onclick="snsShare('nv')"><img th:src="@{ /image/btnG_아이콘원형.png }"></button>
        </div>
        <hr>
        <div class="urlShare">
            <span>URL 복사</span><input type="text" id="currentUrl" th:value="|${ #httpServletRequest.requestURL }?productNo=${ product.productNo }|" readonly>
        </div>
        <hr>
        <div class="modalButtonsContainer">
            <button type="button" class="modalButtons" th:onclick="|location.href='@{/product/list2(categoryCode=${ product.categoryCode })}'|">쇼핑 계속하기</button>
            <button type="button" class="modalButtons" th:onclick="|location.href='@{ /main }'|">메인화면 가기</button>
        </div>
    </div>
    <div class="modalLayer"></div>
</div>
<div class="toTopBtn" id="backtotop" th:fragment="backtotop">
    <button type="button" id="toTopBtn" onclick="window.scrollTo(0,0);">
        ▲TOP
    </button>
</div>
</body>
</html>