<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- index.html css -->
    <link rel="stylesheet" th:href="@{ /css/indexCss.css }"/>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 자바스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <!-- 승재 css -->
    <link rel="stylesheet" type="text/css" th:href="@{ /css/item.css }"/>
    <script>

        /* 찜하기 메시지 출력 */
        const successMessage = "[[${ successMessage }]]";
        console.log(successMessage);
        if (successMessage){
            alert(successMessage);
        }
    </script>
</head>
<body>

<div class="header">
    <th:block th:replace="~{common/header2 :: header}"/>
</div>

<div class="productContainer">
    <div class="imgContainer">
        <div class="bigImg">
            <img th:src="${ product.savePath }">
        </div>
        <div class="otherImges">
            <div class="otherImg"><img th:src="${ product.savePath }"></div>
            <th:block th:each="option : ${ optionList }">
                <th:block th:switch="${ option.categoryCode }">
                    <div class="otherImg" th:case="RD"><img th:src="${ option?.savePath }?:'/image/rod/rodDefault.png'"></div>
                    <div class="otherImg" th:case="RL"><img th:src="${ option?.savePath }?:'/image/reel/reelDefault.png'"></div>
                    <div class="otherImg" th:case="LN"><img th:src="${ option?.savePath }?:'/image/line/lineDefault.png'"></div>
                </th:block>
            </th:block>
        </div>
    </div>
    <div class="detailContainer">
        <form action="/product/purchase" method="post">
            <input type="hidden" id="productNo" name="productNo" value="">
        <div class="productName">
            <h2 th:text="${ product.productName }">상품명</h2>
        </div>
        <div class="productDetail">
            <th:block th:switch="${ product.categoryCode }">
                <p class="orgContent" th:case="RD">브랜드 : [[${ product.brandName }]], [[${ product.rod }]]</p>
                <p class="orgContent" th:case="RL">브랜드 : [[${ product.brandName }]], [[${ product.reel }]]</p>
                <p class="orgContent" th:case="LN">브랜드 : [[${ product.brandName }]], [[${ product.line }]]</p>
            </th:block>
            <th:block th:each="option : ${ optionList }">
                <th:block th:switch="${ product.categoryCode }">
                    <p hidden="true" th:case="RD" th:class="${ option.productNo }">브랜드 : [[${ option.brandName }]], [[${ option.rod }]]</p>
                    <p hidden="true" th:case="RL" th:class="${ option.productNo }">브랜드 : [[${ option.brandName }]], [[${ option.reel }]]</p>
                    <p hidden="true" th:case="LN" th:class="${ option.productNo }">브랜드 : [[${ option.brandName }]], [[${ option.line }]]</p>
                </th:block>
            </th:block>
        </div>
        <hr>
        <div class="quantity">
            <span>수량 : </span>
            <input type="number" name="quantity" id="quantity" min="1" value="1" step="1">
        </div>
        <div class="price">
            <span>총 가격 : </span>
            <th:block th:switch="${ product.categoryCode }">
                <span class="totalPrice" th:case="RD" th:text="${ #numbers.formatCurrency(product.rod?.price) }"></span>
                <span class="totalPrice" th:case="RL" th:text="${ #numbers.formatCurrency(product.reel?.price) }"></span>
                <span class="totalPrice" th:case="LN" th:text="${ #numbers.formatCurrency(product.line?.price) }"></span>
            </th:block>

        </div>
        <div class="option">
            <select name="option" id="option">
                <th:block th:switch="${ product.categoryCode }">
                    <option th:case="RD" th:value="${ product.productNo }" selected="true">[[${ product.rod.model }]] : [[${ #numbers.formatCurrency(product.rod.price) }]]</option>
                    <option th:case="RL" th:value="${ product.productNo }" selected="true">[[${ product.reel.model }]] : [[${ #numbers.formatCurrency(product.reel.price) }]]</option>
                    <option th:case="LN" th:value="${ product.productNo }" selected="true">[[${ product.line.lineSize }]] : [[${ #numbers.formatCurrency(product.line.price) }]]</option>
                </th:block>
                <th:block th:each="option : ${ optionList }">
                    <th:block th:switch="${ product.categoryCode }">
                        <option th:case="RD" th:value="${ option.productNo }">[[${ option.rod.model }]] : [[${ #numbers.formatCurrency(option.rod.price) }]]</option>
                        <option th:case="RL" th:value="${ option.productNo }">[[${ option.reel.model }]] : [[${ #numbers.formatCurrency(option.reel.price) }]]</option>
                        <option th:case="LN" th:value="${ option.productNo }">[[${ option.line.lineSize }]] : [[${ #numbers.formatCurrency(option.line.price) }]]</option>
                    </th:block>
                </th:block>
            </select>
        </div>
        <div class="buttons">
            <button type="button" id="insertWish"><img th:src="@{ /image/heart.png }"></button>
            <button type="button" th:onclick="|location.href='@{/product/share(productNo=${ product.productNo })}'|"><img th:src="@{ /image/share.png }"></button>
            <button type="button" id="insertCart"><img th:src="@{ /image/cart.png }"></button>
            <button type="submit" id="buy">구매하기</button>
        </div>
        </form>
    </div>
</div>
<hr>
<div class="refItemsContainer">
    <div><p><</p></div>
    <th:block th:each="refProduct : ${ refProductList }">
        <div><img th:src="${ refProduct.savePath }" alt="관련 상품" th:onclick="|location.href='@{/product/item2(productNo=${ refProduct.productNo })}'|"></div>
    </th:block>

    <div><p>></p></div>
</div>
<hr>
<div class="contentContainer">
    <div class="content">

    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function(){

        /* 숨겨진 상품 번호 input 창에 선택한 상품의 상품번호 넣기 */
        $("#productNo").val([[${ product.productNo }]]);
        console.log($("#productNo").val());

        /* 이미지 바꾸기 */
        $(".otherImg").on("click", function () {

            const $otherImg = $(this).html();

            $(".bigImg").html($otherImg);
        });

        /* 수량 변화에 따라 가격 바꾸기 */
        $("#quantity").on("change", function () {

            let categoryCode = [[${ product.categoryCode }]];
            /* 총 가격 용 변수 */
            let $totPrice;
            console.log(categoryCode);

            switch (categoryCode) {
                case "RD":
                    $totPrice = [[${ product.rod?.price }]] * $("#quantity").val(); break;
                case "RL":
                    $totPrice = [[${ product.reel?.price }]] * $("#quantity").val(); break;
                case "LN":
                    $totPrice = [[${ product.line?.price }]] * $("#quantity").val(); break;
            }
            $totPrice = "₩" + $totPrice.toLocaleString();
            $(".totalPrice").text($totPrice);
        });

        /* 해당 상품 위시리스트에 넣기 */
        $("#insertWish").on("click", function () {

            const $productNo = $("#productNo").val();

            location.href="/product/wish?productNo=" + $productNo;
        });

        /* 해당 상품 장바구니에 넣기 */
        $("#insertCart").on("click", function () {

            const $productNo = $("#productNo").val();
            const $amount = $("#quantity").val();

            location.href="/product/cart?productNo=" + $productNo + "&amount=" + $amount;
        });

        /* 옵션 변경시 상품 정보 및 가격 바꾸기 */
        const $orgContent = $(".orgContent").text();

        $("#option").on("change", function () {

            const $selectedOption = $("." + $(this).val()).text();
            const orgProductNo = [[${ product.productNo }]];

            if($(this).val() == orgProductNo) {
                $(".orgContent").text($orgContent);
                return;
            }
            $(".orgContent").text($selectedOption);
        })
    });
</script>

</body>
</html>