<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/item.css">
</head>
<body>
    <div class="productContainer">
        <div class="imgContainer">
            <div class="bigImg">
                <img src="/static/image/thumnail.png">
            </div>
            <div class="otherImges">
                <div class="otherImg"><img src="/static/image/thumnail.png"></div>
                <div class="otherImg"><img src="/static/image/thumnail.png"></div>
                <div class="otherImg"><img src="/static/image/thumnail.png"></div>
                <div class="otherImg"><img src="/static/image/thumnail.png"></div>
                <div class="otherImg"><img src="/static/image/thumnail.png"></div>
            </div>
        </div>
        <div class="detailContainer">
            <div class="productName">
                <h2>상품명</h2>
            </div>
            <div class="productDetail">
                <p>상품내용</p>
            </div>
            <hr>
            <div class="quantity">
                <p>수량 : </p>
                <input type="number" name="quantity" id="quantity" min="1" value="1">
            </div>
            <div class="price">
                <p>총 가격 : </p>
                <p></p>
            </div>
            <div class="option">
                <select name="option" id="option">
                    <option value="" selected="true">옵션선택</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
            <div class="buttons">
                <button><img src="/static/image/heart.png"></button>
                <button><img src="/static/image/share.png"></button>
                <button id="buy">구매하기</button>
            </div>
        </div>

    </div>
    <hr>
    <div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
    </div>
    <hr>
    <div></div>
</body>
</html>