<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DANAKA - [[${ selectCriteria?.categoryCode }]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- index.html css -->
    <link rel="stylesheet" th:href="@{ /css/indexCss.css }"/>
    <!--    -->
    <!--    &lt;!&ndash; 부트스트랩 &ndash;&gt;-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!--    &lt;!&ndash; 아이콘 &ndash;&gt;-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!--    &lt;!&ndash; 제이쿼리 &ndash;&gt;-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--    &lt;!&ndash; 자바스크립트 &ndash;&gt;-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <!-- 승재 css -->
    <link rel="stylesheet" type="text/css" th:href="@{ /css/list.css }">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/modal.css }">
</head>
<body>
<div class="header">
    <th:block th:replace="~{common/header :: header}"/>
</div>
<div>
    <th:block th:replace="~{common/modal :: successM}"/>
</div>
<div>
    <th:block th:replace="~{common/modal :: backtotop}"/>
</div>
<div class="categoryImg">
    <th:block th:switch="${ productList[0].categoryCode }">
        <img th:case="RD" th:src="@{ /image/배너.png }" alt="카테고리별 대표사진">
        <img th:case="RL" th:src="@{ /image/배너1.png }" alt="카테고리별 대표사진">
        <img th:case="LN" th:src="@{ /image/배너2.png }" alt="카테고리별 대표사진">
    </th:block>
</div>
<div class="orderContainer">
    <th:block th:with="category = ${ productList[0].categoryCode }">
<!--        <button th:onclick="|location.href='@{/product/list2(categoryCode=${ selectCriteria.categoryCode })}'|">인기순</button>-->
        <button id="sale" th:onclick="|location.href='@{/product/list2(categoryCode=${ category }, orderCondition=sale)}'|">판매량순</button>
        <button id="lowPrice" th:onclick="|location.href='@{/product/list2(categoryCode=${ category }, orderCondition=lowPrice)}'|">낮은가격순</button>
        <button id="highPrice" th:onclick="|location.href='@{/product/list2(categoryCode=${ category }, orderCondition=highPrice)}'|">높은가격순</button>
    </th:block>
</div>
<div class="outerProductsContainer">
    <div class="productContainer" id="productContainer" th:each="product : ${ productList }">
        <div class="thumnail">
            <th:block th:switch="${ product.categoryCode }">
                <img th:case="RD" th:src="${ product.tSavePath }" alt="상품썸네일" th:onclick="|location.href='@{/product/item2(productNo=${ product.productNo })}'|">
                <img th:case="RL" th:src="${ product.tSavePath }" alt="상품썸네일" th:onclick="|location.href='@{/product/item2(productNo=${ product.productNo })}'|">
                <img th:case="LN" th:src="${ product.tSavePath }" alt="상품썸네일" th:onclick="|location.href='@{/product/item2(productNo=${ product.productNo })}'|">
            </th:block>
        </div>
        <div class="detail1">
            <div class="productName">
                <a th:href="@{/product/item2(productNo=${ product.productNo })}"><p th:text="${ product.productName }">
                    상품명</p></a>
            </div>
            <div class="productDetail">
                <th:block th:switch="${ product.categoryCode }">
                    <p th:case="RD" th:text="|브랜드 :  ${ product.brandName }, ${ product.rod }|">상품정보</p>
                    <p th:case="RL" th:text="|브랜드 :  ${ product.brandName }, ${ product.reel }|">상품정보</p>
                    <p th:case="LN" th:text="|브랜드 :  ${ product.brandName }, ${ product.line }|">상품정보</p>
                </th:block>

            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <th:block th:switch="${ product.categoryCode }">
                    <p th:case="RD" th:text="${ #numbers.formatCurrency(product.rod?.price) }">상품가격</p>
                    <p th:case="RL" th:text="${ #numbers.formatCurrency(product.reel?.price) }">상품가격</p>
                    <p th:case="LN" th:text="${ #numbers.formatCurrency(product.line?.price) }">상품가격</p>
                </th:block>
            </div>
            <div class="regDate">
                <p th:text="${ product.productRegDate }">상품등록일</p>
            </div>
        </div>
    </div>
    <div class="pagingButtons" align="center">
        <th:block th:include="~{common/productPaging :: paging}"/>
    </div>
</div>

</div>
<script th:inline="javascript">
    /* 정렬 버튼 색 입히기 */
    if([[${ selectCriteria.orderCondition }]] != null) {
        switch ([[${ selectCriteria.orderCondition }]]) {
            case "sale":
                $("#sale").css("backgroundColor", "#0448AD");
                $("#sale").css("color", "white"); break;
            case "lowPrice":
                $("#lowPrice").css("backgroundColor", "#0448AD");
                $("#lowPrice").css("color", "white"); break;
            case "highPrice":
                $("#highPrice").css("backgroundColor", "#0448AD");
                $("#highPrice").css("color", "white"); break;
        }
    }

    $(document).ready(function (){
        /* 모달 창 띄우기 */
        if ([[${ successMessage }]] != null || [[${ failMessage }]] != null) {
            modalSwitch(1);
        }
    })

    /* 모달 창 닫기 버튼 */
    $(".modalCloseButton, .modalLayer").on("click", function() {

        modalSwitch(3);
    });

    /* 모달창 스위치 함수 */
    function modalSwitch(key) {

        switch (key) {
            case 1: $("#successM").show(); break;
            case 3: $(".modal").hide(); break;
        }
    }
</script>
</body>
</html>