<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/list.css">
</head>
<body>
<div class="categoryImg">
    <img th:href="@{/image/배너.png}" src="/static/image/배너.png" alt="카테고리별 대표사진">
</div>
<div class="orderContainer">
    <button>인기순</button>
    <button>판매량순</button>
    <button>낮은가격순</button>
    <button>높은가격순</button>
</div>
<div class="outerProductsContainer">
    <div class="productContainer">
        <div class="thumnail">
            <img src="/static/image/thumnail.png" alt="상품썸네일" onclick="href='/product/item'">
        </div>
        <div class="detail1">
            <div class="productName">
                <a href=""><h4>상품명</h4></a>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="thumnail">
            <img src="/image/thumnail.png" alt="상품썸네일">
        </div>
        <div class="detail1">
            <div class="productName">
                <p><h4>상품명</h4></p>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="thumnail">
            <img src="" alt="상품썸네일">
        </div>
        <div class="detail1">
            <div class="productName">
                <h4>상품명</h4>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="thumnail">
            <img src="" alt="상품썸네일">
        </div>
        <div class="detail1">
            <div class="productName">
                <h4>상품명</h4>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="thumnail">
            <img src="" alt="상품썸네일">
        </div>
        <div class="detail1">
            <div class="productName">
                <h4>상품명</h4>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="thumnail">
            <img src="" alt="상품썸네일">
        </div>
        <div class="detail1">
            <div class="productName">
                <h4>상품명</h4>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="thumnail">
            <img src="" alt="상품썸네일">
        </div>
        <div class="detail1">
            <div class="productName">
                <h4>상품명</h4>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="thumnail">
            <img src="" alt="상품썸네일">
        </div>
        <div class="detail1">
            <div class="productName">
                <h4>상품명</h4>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="thumnail">
            <img src="" alt="상품썸네일">
        </div>
        <div class="detail1">
            <div class="productName">
                <h4>상품명</h4>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="thumnail">
            <img src="" alt="상품썸네일">
        </div>
        <div class="detail1">
            <div class="productName">
                <h4>상품명</h4>
            </div>
            <div class="productDetail">
                <p>상품정보</p>
            </div>
        </div>
        <div class="detail2">
            <div class="price">
                <h5>상품가격</h5>
            </div>
            <div class="regDate">
                <p>상품등록일</p>
            </div>
        </div>
    </div>
    <div class="pagingButtons" align="center">
        <p>< 1 2 3 4 5 6 7 8 9 ></p>
    </div>
</div>

</body>
</html>