<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/list2.css">
</head>
<body>
<div class="container padding-bottom-3x mb-2">
  <div class="row">
    <div class="col-lg-4">
      <aside class="user-info-wrapper">
        <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
          <div class="info-label" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward Points to spend"><i class="icon-medal"></i>290 points</div>
        </div>
        <div class="user-info">
          <div class="user-avatar">
            <a class="edit-avatar" href="#"></a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User"></div>
          <div class="user-data">
            <h4>Daniel Adams</h4><span>Joined February 06, 2017</span>
          </div>
        </div>
      </aside>
      <nav class="list-group">
        <a class="list-group-item with-badge" href="#"><i class=" fa fa-th"></i>Orders<span class="badge badge-primary badge-pill">6</span></a>
        <a class="list-group-item" href="#"><i class="fa fa-user"></i>Profile</a>
        <a class="list-group-item" href="#"><i class="fa fa-map"></i>Addresses</a>
        <a class="list-group-item with-badge active" href="#"><i class="fa fa-heart"></i>Wishlist<span class="badge badge-primary badge-pill">3</span></a>
        <a class="list-group-item with-badge" href="#"><i class="fa fa-tag"></i>My Tickets<span class="badge badge-primary badge-pill">4</span></a>
      </nav>
    </div>
    <div class="col-lg-8">
      <div class="padding-top-2x mt-2 hidden-lg-up"></div>
      <!-- Wishlist Table-->
      <div class="table-responsive wishlist-table margin-bottom-none">
        <table class="table">
          <thead>
          <tr>
            <th>Product Name</th>
            <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear Wishlist</a></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="product-item">
                <a class="product-thumb" href="#"><img src="https://www.bootdey.com/image/220x180/FF0000/000000" alt="Product"></a>
                <div class="product-info">
                  <h4 class="product-title"><a href="#">Unionbay Park</a></h4>
                  <div class="text-lg text-medium text-muted">$43.90</div>
                  <div>Availability:
                    <div class="d-inline text-success">In Stock</div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="icon-cross"></i></a></td>
          </tr>
          <tr>
            <td>
              <div class="product-item">
                <a class="product-thumb" href="#"><img src="https://www.bootdey.com/image/220x180/87CEFA/000000" alt="Product"></a>
                <div class="product-info">
                  <h4 class="product-title"><a href="#">Daily Fabric Cap</a></h4>
                  <div class="text-lg text-medium text-muted">$24.70</div>
                  <div>Availability:
                    <div class="d-inline text-warning">2 - 3 Weeks</div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="icon-cross"></i></a></td>
          </tr>
          <tr>
            <td>
              <div class="product-item">
                <a class="product-thumb" href="#"><img src="https://www.bootdey.com/image/220x180/483D8B/000000" alt="Product"></a>
                <div class="product-info">
                  <h4 class="product-title"><a href="#">Cole Haan Crossbody</a></h4>
                  <div class="text-lg text-medium text-muted">$200.00</div>
                  <div>Availability:
                    <div class="d-inline text-success">In Stock</div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="icon-cross"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr class="mb-4">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="inform_me" checked="">
        <label class="custom-control-label" for="inform_me">Inform me when item from my wishlist is available</label>
      </div>
    </div>
  </div>
</div>
</body>
</html>