<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="productBoard.css">-->
</head>
<body>
<div id="productBoardContainer">
    <div class="boardControlButtons">
        <button type="button" class="boardControlBtn" id="reviewBtn" onclick="boardControl(1)">REVIEW</button><button type="button" class="boardControlBtn" id="askBtn" onclick="boardControl(2)">Q & A</button>
    </div>
    <div id="productReview">
        <div class="boardHead">
            <span>번호</span>
            <span>구매상품</span>
            <span>닉네임</span>
            <span>등록일</span>
        </div>
        <div class="boardNull" th:if="${ #lists.isEmpty(reviewList) }">
            <span>상품 후기가 없습니다.</span>
        </div>
        <th:block th:each="review : ${ reviewList }">
        <div class="boardTitle" onclick="showContent(this)">
            <span th:text="${ review.reviewNo }">0</span>
            <span th:text="${ review.reviewTitle }">상품 후기 제목</span>
            <span th:text="${ review.userNickname }">닉네임</span>
            <span th:text="${ review.regDate }">등록일</span>
        </div>
        <div class="boardContent">
            <div th:if="${ review.userNo } == ${ #authentication.principal.userNo }" align="end">
                <buttont class="contentButtons" type="button" th:onclick="updateBoard([[${ reviewStat.count }]])">수정</buttont>
                <buttont class="contentButtons" type="button" th:onclick="deleteBoard([[${ review.reviewNo }]])">삭제</buttont>
            </div>
            <form th:id="updateReview + ${reviewStat.count}">
                <input type="text" name=reviewNo th:value="${ review.reviewNo }" hidden="true">
                <textarea class="updateArea" name="updateReviewBody" th:id="review + ${reviewStat.count}" maxlength="88" disabled>[[${ review.reviewBody }]]</textarea>
            </form>
        </div>

        </th:block>
    </div>
    <div id="reviewInput" th:if="${ orderInfo != null }">
        <form id="reviewForm">
            <span>구매 상품 : </span>
            <th:block th:switch="${ orderInfo['CATEGORY_CODE'] }">
                <input th:case="RD" type="text" name="reviewTitle" class="reviewTitle" th:value="${ orderInfo['PRODUCT_NAME'] } + ' - ' + ${ orderInfo['ROD_MODEL'] }">
                <input th:case="RL" type="text" name="reviewTitle" class="reviewTitle" th:value="${ orderInfo['PRODUCT_NAME'] } + ' - ' + ${ orderInfo['REEL_MODEL'] }">
                <input th:case="LN" type="text" name="reviewTitle" class="reviewTitle" th:value="${ orderInfo['PRODUCT_NAME'] } + ' - ' + ${ orderInfo['LINE_SIZE'] }">
            </th:block>
                <input type="text" hidden="true" name="userNo" th:value="${ #authentication.principal.userNo }" readonly>
                <input type="text" hidden="true" name="productNo" th:value="${ orderInfo['PRODUCT_NO'] }" readonly>
            <div>
                <div><span>닉네임 : </span><input type="text" id="userNickname" th:value="${ #authentication.principal.userNickname }" readonly></div>
                <div><span>구매일 : </span><input type="text" name="buyDate" th:value="${#dates.format(orderInfo['REG_DATE'], 'yyyy-MM-dd')}" readonly></div>
            </div>
            <textarea name="reviewBody" maxlength="88" placeholder="리뷰 내용을 작성하세요."></textarea>
        </form>
    </div>
    <div id="productAsk">
        <div class="boardHead">
            <span>번호</span>
            <span>문의내용</span>
            <span>닉네임</span>
            <span>등록일</span>
        </div>
        <div class="boardNull" th:if="${ #lists.isEmpty(qnaList) }">
            <span>상품 문의가 없습니다.</span>
        </div>
        <th:block th:each="qna : ${ qnaList }">
        <div class="boardTitle" onclick="showContent(this)">
            <span th:text="${ qna.qnaNo }">번호</span>
                <form th:id="updateQna + ${ qnaStat.count }">
                    <input type="text" name="qnaNo" th:value="${ qna.qnaNo }" hidden="true">
                    <th:block th:switch="${ qna.secretStatus }">
                        <th:block th:case="Y">
                            <th:block th:if="${ #authentication.name == 'admin' } or ${ qna.userNo } == ${ #authentication.principal.userNo }">
                                <input type="text" name="updateQnaBody" class="updateInput" th:id="qnaInput + ${ qnaStat.count }" th:value="${ qna.qnaBody }" maxlength="40" disabled>
                            </th:block>
                            <th:block th:unless="${ #authentication.name == 'admin' } or ${ qna.userNo } == ${ #authentication.principal.userNo }">
                                <span class="updateInput">비밀글입니다.</span>
                            </th:block>
                        </th:block>
                        <th:block th:case="N">
                            <input type="text" name="updateQnaBody" class="updateInput" th:id="qnaInput + ${ qnaStat.count }" th:value="${ qna.qnaBody }" maxlength="40" disabled>
                        </th:block>
                    </th:block>
                </form>
            <span th:text="${ qna.userNickname }">닉네임</span>
            <span th:text="${ qna.regDate }">등록일</span>
        </div>
        <div class="boardContent">
            <div sec:authorize="hasRole('ROLE_ADMIN')" align="end">
                <buttont class="contentButtons" type="button" th:onclick="updateReply([[${ qnaStat.count }]])">답변</buttont>
            </div>
            <div th:if="${ qna.userNo } == ${ #authentication.principal.userNo }" align="end">
                <buttont class="contentButtons" type="button" th:onclick="updateBoard([[${ qnaStat.count }]])">수정</buttont>
                <buttont class="contentButtons" type="button" th:onclick="deleteBoard([[${ qna.qnaNo }]])">삭제</buttont>
            </div>
            <form th:id="updateReply + ${ qnaStat.count }">
                <span th:text="${ qna?.replyDate }">답변일</span>
                <input type="text" name="qnaNo" th:value="${ qna.qnaNo }" hidden="true">
                <th:block th:switch="${ qna.secretStatus }">
                    <th:block th:case="Y">
                        <th:block th:if="${ #authentication.name == 'admin' } or ${ qna.userNo } == ${ #authentication.principal.userNo }">
                            <textarea class="updateArea" name="qnaReply" th:id="qnaReply + ${ qnaStat.count }" maxlength="40" disabled>[[${ qna?.reply }]]</textarea>
                        </th:block>
                        <th:block th:unless="${ #authentication.name == 'admin' } or ${ qna.userNo } == ${ #authentication.principal.userNo }">
                            <span class="updateInput">비밀글입니다.</span>
                        </th:block>
                    </th:block>
                    <th:block th:case="N">
                        <textarea class="updateArea" name="qnaReply" th:id="qnaReply + ${ qnaStat.count }" maxlength="40" disabled>[[${ qna?.reply }]]</textarea>
                    </th:block>
                </th:block>
            </form>
        </div>
        </th:block>
    </div>
    <div id="qnaInput">
        <form id="qnaForm">
            <input type="text" hidden="true" name="userNo" th:value="${ #authentication.principal.userNo }" readonly>
            <span>닉네임 : </span><input type="text" class="userNickname" th:value="${ #authentication.principal.userNickname }" readonly>
            <textarea name="qnaBody" minlength="10" maxlength="40" required placeholder="문의 내용을 작성하세요."></textarea>
            <label>비밀글 <input type="checkbox" name="secretStatus" value="Y"></label>
        </form>
    </div>
    <div class="pagingArea" align="center">
        <th:block th:with="start = ${ selectCriteria.startPage }, last = ${ selectCriteria.endPage }, page = ${ selectCriteria.pageNo }, max = ${ selectCriteria.maxPage}">
            <!-- 첫 페이지로 가기 버튼 -->
            <th:block th:if="${ page eq start}">
                <button disabled><<</button>
            </th:block>
            <th:block th:if="${ page ne start}">
                <button id="startPage" th:value="${ start }" onclick="pagingFn(this.value)"><<</button>
            </th:block>

            <!-- 이전 페이지로 가기 버튼 -->
            <th:block th:if="${ page <= 1 }">
                <button disabled><</button>
            </th:block>
            <th:block th:if="${ page > 1 }">
                <button id="prevPage" th:value="${ page - 1 }" onclick="pagingFn(this.value)"><</button>
            </th:block>

            <!-- 숫자 버튼 -->
            <th:block th:each="p : ${ #numbers.sequence(start, last) }">
                <th:block th:if="${ page eq p }">
                    <button th:text="${ p }" disabled></button>
                </th:block>
                <th:block th:if="${ page ne p }">
                    <button th:text="${ p }" th:value="${ p }" onclick="pagingFn(this.value)"></button>
                </th:block>
            </th:block>

            <!-- 다음 페이지 버튼 -->
            <th:block th:if="${ page >= selectCriteria.maxPage }">
                <button disabled>></button>
            </th:block>
            <th:block th:if="${ page < selectCriteria.maxPage }">
                <button id="nextPage" th:value="${ page + 1 }" onclick="pagingFn(this.value)">></button>
            </th:block>

            <!-- 마지막 페이지로 이동 버튼 -->
            <th:block th:if="${ page eq selectCriteria.maxPage }">
                <button disabled>>></button>
            </th:block>
            <th:block th:if="${ page ne selectCriteria.maxPage }">
                <button id="maxPage" th:value="${ max }" onclick="pagingFn(this.value)">>></button>
            </th:block>
        </th:block>
        <!-- to do 처음 들어갔을 때 둘다 뜨는 거 고치기 -->
        <button type="button" th:if="${ orderInfo != null }" id="writeR" onclick="inputRQ(this)" value="review">리뷰하기</button>
        <button type="button" id="insertR" onclick="submitRQ('R')">작성완료</button>
        <button type="button" id="writeQ" onclick="inputRQ(this)" value="qna">문의하기</button>
        <button type="button" id="insertQ" onclick="submitRQ('Q')">작성완료</button>
    </div>
</div>

</body>
</html>