<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> NoticeModify </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 타임리프용 헤더 스타일 시트 적용-->
    <link rel="stylesheet" th:href="@{/css/indexCss.css}" />

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- 자바스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    <style>
        .categoryDiv {
            background-color: #939393;
        }
    </style>
</head>
<body>

<!--타임리프용 헤더-->
<div class="header">
    <th:block th:replace="~{common/header :: header}" />
</div>

    <div class="content">
        <br><br>
        <h2 align="center">상품등록</h2>

        <br>

        <form th:action="@{'productEnroll'}" method="post" enctype="multipart/form-data">
            <table class="table" align="center" id="contentArea">
                <tr>
                    <th>카테고리</th>
                    <td><label><input type="radio" name = "categoryCode" value="RD" required>로드</label></td>
                    <td><label><input type="radio" name = "categoryCode" value="RL" required>릴</label></td>
                    <td><label><input type="radio" name = "categoryCode" value="LN" required>라인</label></td>
                </tr>
                <!--카테고리 로드 선택 시 노출될 영역-->
                <tbody id="rodProduct" class="categoryDiv">
                    <tr>
                        <th>로드 모델명</th>
                        <td><input type="text" name = "rodModel" required></td>
                    </tr>
                    <tr>
                        <th>릴 타입</th>
                        <td><label><input type="radio" name = "reelType" value="REEL01" required>릴01</label></td>
                        <td><label><input type="radio" name = "reelType" value="REEL02" required>릴02</label></td>
                        <td><label><input type="radio" name = "reelType" value="REEL03" required>릴03</label></td>
                    </tr>
                    <tr>
                        <th>최소 라인 호수</th>
                        <td><input type="range" name = "lineMin" min="0" max="100" step="50" oninput="document.getElementById('value1').innerHTML=this.value;" required><span id = "value1"></span></td>
                        <th>최대 라인 호수</th>
                        <td><input type="range" name = "lineMax" min="0" max="100" step="50" oninput="document.getElementById('value2').innerHTML=this.value;" required><span id = "value2"></span></td>
                    </tr>
                    <tr>
                        <th>로드 가격</th>
                        <td><input type="number" name = "rodPrice" required></td>
                    </tr>
                </tbody>
                <!--카테고리 릴 선택 시 노출될 영역-->
                <tbody id="reelProduct" class="categoryDiv">
                <tr>
                    <th>릴 모델명</th>
                    <td><input type="text" name = "reelModel" required></td>
                </tr>
                <tr>
                    <th>릴 타입</th>
                    <td><label><input type="radio" name = "reelType" value="REEL01" required>릴01</label></td>
                    <td><label><input type="radio" name = "reelType" value="REEL02" required>릴02</label></td>
                    <td><label><input type="radio" name = "reelType" value="REEL03" required>릴03</label></td>
                </tr>
                <tr>
                    <th>릴 가격</th>
                    <td><input type="number" name = "reelPrice" required></td>
                </tr>
                </tbody>
                <!--카테고리 라인 선택 시 노출될 영역-->
                <tbody id="lineProduct" class="categoryDiv">
<!--                <tr>-->
<!--                    <th>라인 모델명</th>-->
<!--                    <td><input type="text" name = "rodModel" required></td>-->
<!--                </tr>-->
                <tr>
                    <th>라인 호수</th>
                    <td><input type="range" name = "lineSize" min="0" max="100" step="50" oninput="document.getElementById('value3').innerHTML=this.value;" required><span id = "value3"></span></td>
                </tr>
                <tr>
                    <th>릴 가격</th>
                    <td><input type="number" name = "linePrice" required></td>
                </tr>
                </tbody>
                
                <tr>
                    <th>브랜드</th>
                    <td><label><input type="radio" name = "brandNo" value="1" required>도요</label></td>
                    <td><label><input type="radio" name="brandNo" value="2" required>시마노</label></td>
                    <td><label><input type="radio" name="brandNo" value="3" required>NS</label></td>
                </tr>
                <tr>
                    <th>상품명</th>
                    <td><input type="text" name = "productName" required></td>
                </tr>
                <tr>
                    <th>재고</th>
                    <td><input type="number" name = "stock" required></td>
                </tr>
                <tr>
                    <th>썸네일</th>
                    <td><input type="hidden" id="thumb" name="imgCategory" value="T"><input type="file" name = "file" multiple required></td>
                </tr>
                <tr>
                    <th>상세페이지</th>
                    <td><input type="hidden" name="imgCategory" value="D"><input type="file" name = "file" required></td>
                </tr>
            </table>
            <br>
    
            <div class="preview">
                <p></p>
            </div>
            
            <div align="center">
                <button type="submit" class="btn btn-primary">등록하기</button>
                <button type="reset" class="btn btn-danger">초기화</button>
                <button type="button" class="btn btn-secondary" onclick="history.go(-1);">이전으로</button>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function(){

            // 초깃값 설정
            $('#rodProduct').hide();
            $('#reelProduct').hide();
            $('#lineProduct').hide();

            $("input[name='categoryCode']").change(function(){
                // 로드 선택 시.
                if($("input[name='categoryCode']:checked").val() == 'RD'){
                    $('#lineProduct').hide();
                    $('#reelProduct').hide();
                    $('#rodProduct').show();
                    $("input[name='reelModel']").attr("required", false);
                    $("input[name='reelType']").attr("required", false);
                    $("input[name='reelPrice']").attr("required", false);
                    $("input[name='lineSize']").attr("required", false);
                    $("input[name='linePrice']").attr("required", false);
                }
                // 릴 선택 시.
                else if($("input[name='categoryCode']:checked").val() == 'RL'){
                    $('#rodProduct').hide();
                    $('#lineProduct').hide();
                    $('#reelProduct').show();
                    $("input[name='rodModel']").attr("required", false);
                    $("input[name='reelType']").attr("required", false);
                    $("input[name='lineMin']").attr("required", false);
                    $("input[name='lineMax']").attr("required", false);
                    $("input[name='rodPrice']").attr("required", false);
                    $("input[name='lineSize']").attr("required", false);
                    $("input[name='linePrice']").attr("required", false);
                }
                // 라인 선택 시.
                else if($("input[name='categoryCode']:checked").val() == 'LN'){
                    $('#rodProduct').hide();
                    $('#reelProduct').hide();
                    $('#lineProduct').show();
                    $("input[name='rodModel']").attr("required", false);
                    $("input[name='reelType']").attr("required", false);
                    $("input[name='lineMin']").attr("required", false);
                    $("input[name='lineMax']").attr("required", false);
                    $("input[name='rodPrice']").attr("required", false);
                    $("input[name='reelModel']").attr("required", false);
                    $("input[name='reelPrice']").attr("required", false);
                }
            });

        });
    </script>
</body>
</html>
