<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- index.html css -->
    <link rel="stylesheet" th:href="@{ /css/indexCss.css }"/>
    <!--    -->
    <!--    &lt;!&ndash; 부트스트랩 &ndash;&gt;-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!--    &lt;!&ndash; 아이콘 &ndash;&gt;-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!--    &lt;!&ndash; 제이쿼리 &ndash;&gt;-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--    &lt;!&ndash; 자바스크립트 &ndash;&gt;-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <!-- 승재 css -->
    <link rel="stylesheet" type="text/css" th:href="@{ /css/purchase.css }">
</head>
<body>
<div class="header">
    <th:block th:replace="~{common/header2 :: header}"/>
</div>
<form action="">
<div class="description">
    <p>구매목록</p>
</div>
<div class="listContainer">
    <div class="buyingProduct">
        <th:block th:if="${ product }" th:switch="${ product.categoryCode }">
            <input type="text" hidden="true" th:name="productNo" th:value="${ product.productNo }">
            <div class="thumnail">
                <img th:src="${ product?.savePath }?: '/image/line/lineDefault.png'" alt="상품섬네일">
            </div>
            <div class="product">
                <div class="productName">
                    <span th:text="${ product.productName }">상품명 </span>
                </div>
                <div class="productDetail">
                    <span th:case="RD" th:text="${ product.rod }">상품 상세</span>
                    <span th:case="RL" th:text="${ product.reel }">상품 상세</span>
                    <span th:case="LN" th:text="${ product.line }">상품 상세</span>
                </div>
            </div>
            <div class="options">
                <div class="quantity">
                    <span>총 수량 : </span>
                    <button type="button" class="amountButtons" value="-"><div><img th:src="@{ /image/minus.png }"></div></button>
                    <input type="text" name="amount" id="amount" th:value="${ amount }" readonly>
                    <button type="button" class="amountButtons" value="+"><div><img th:src="@{ /image/plus.png }"></div></button>
                    &nbsp;<button type="button" class="amountButtons" value="x"><div><img th:src="@{ /image/x.png }"></div></button>
                </div>
                <div class="price">
                    <span>총 가격 : </span>
                    <span>₩ <span th:class="totalPrice">510,500</span></span>
                </div>
            </div>
        </th:block>
    </div>
    <hr>
</div>
<hr>
<div class="description">
    <p>배송지 정보</p>
</div>
<div class="payInfo">
        <div class="addressContainer">
            <div class="addressApi">
                <div>
                    주소 api
                </div>
            </div>
        </div>
    <div class="payDescription">
        <div class="payP">
            <p>결제수단</p>
        </div>
        <div class="paymentContainer">
            <div class="payApi">
                <p>결제 api</p>
            </div>
        </div>
    </div>
    <div class="userInfoContainer">
        <div class="userInfoDescription">
            <p>주문자 정보</p>
            <div class="userInfo">
                <span>이름 : </span><br>
                <span>연락처 : </span><br>
                <span>주소 : </span>
            </div>
            <hr>
            <p>결제 상세</p>
            <div class="priceInfo">
                <span>상품 금액 : </span><br>
                <span>배송비 : </span>
            </div>
            <hr>
            <p>총 결제금액 : ₩ <span id="totalPayPrice">0</span></p>
            <input type="text" hidden="true" id="hiddenTotP" name="totalPayPrice">
        </div>
        <div class="payButton">
            <button>
                구매하기
            </button>
        </div>
    </div>
</div>
</form>
<script th:inline="javascript">

    /* 화면 로딩 시 넘겨온 수량에 따른 가격 출력 */
    let categoryCode = [[${ product.categoryCode }]];
    let $price = 0;
    switch (categoryCode) {
        case "RD": $price = [[${ product.rod?.price }]]; break;
        case "RL": $price = [[${ product.reel?.price }]]; break;
        case "LN": $price = [[${ product.line?.price }]]; break;
    }
    $price = $price * $("#amount").val();
    $(".totalPrice").text($price.toLocaleString());
    $("#totalPayPrice").text($price.toLocaleString());
    $("#hiddenTotP").text($("#totalPayPrice").text());

    /* 수량 변경 버튼 함수 */
    $(".amountButtons").on("click", function () {

        $price = $price / $("#amount").val();
        switch ($(this).val()) {
            case "-": if($("#amount").val() > 1) $("#amount").val(new Number($("#amount").val()) - 1); break;
            case "+": $("#amount").val(new Number($("#amount").val()) + 1); break;
            case "x": $(this).parent().parent().parent().html("<div></div>"); $("#totalPayPrice").text(0); return;
        }
        $price = $price * $("#amount").val();
        $(".totalPrice").text($price.toLocaleString());
        $("#totalPayPrice").text($price.toLocaleString());
        $("#hiddenTotP").text($("#totalPayPrice").text());
    });






</script>
</body>
</html>