<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/product/purchase" method="post">
  <input type="text" name="cartNo" value="1">
  <input type="text" name="cartNo" value="2">
  <input type="text" name="cartNo" value="3">
  <input type="text" name="cartNo" value="4">
  <input type="text" name="cartNo" value="5">
  <input type="text" name="cartNo" value="6">
  <input type="text" name="cartNo" value="7">
  <input type="submit" value="포스트 체크">
</form>
</body>
</html>