<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> MemberList </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 타임리프용 헤더, 메인, 푸터고정, goTop, 컨텐츠영역 스타일 시트 적용-->
    <link rel="stylesheet" th:href="@{/css/indexCss.css}" />
    <!-- 타임리프용 푸터 스타일 시트 적용-->
    <link rel="stylesheet" th:href="@{/css/footerCss.css}" />
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 자바스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <script>
        /* 메세지 alert창 */
        const successMessage = "[[${ successMessage }]]";
        console.log(successMessage);
        if (successMessage){
            alert(successMessage);
        }
    </script>
</head>
<body>

    <!--타임리프용 헤더-->
    <div class="header">
        <th:block th:replace="~{common/header :: header}" />
    </div>
    
    <div class="content">
        <h2 align="center">회원관리</h2>
        <div th:if="${#lists.isEmpty(members)}">
            <h2 align="center">검색된 내용이 없습니다.</h2>
        </div>
        <div th:if="${not #lists.isEmpty(members)}">
            <table id="contentArea" class="table table-hover" align="center">
                <thead>
                <tr>
                    <th>회원번호</th>
                    <th>회원아이디</th>
                    <th>닉네임</th>
                    <th>사용자명</th>
                    <th>휴대전화</th>
                    <th>회원상태</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                     <tr th:each="member : ${members}">
                        <td th:text="${member.userNo}"></td>
                        <td th:text="${member.userId}"></td>
                        <td th:text="${member.userNickname}"></td>
                        <td th:text="${member.userName}"></td>
                        <td th:text="${member.phone}"></td>
                        <td th:text="${member.status}"></td>
                        <td><a th:href="@{/admin/adminMemberDetail(userNo=${ member.userNo })}" class="btn btn-primary">상세보기</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!--페이징 처리-->
    <div class="paging">
        <th:block th:include="~{common/noticePaging :: paging}" />
    </div>
    
    <!-- 검색 폼 -->
    <div class="search-area" align="center">
        <form id="searchForm" th:action="@{/admin/adminMemberListView}" method="get" style="display:inline-block">
            <input type="hidden" name="currentPage" value="1">
    
            <select id="searchCondition" name="searchCondition"> <!-- 선택 유지? selected -->
                <option value="total">전체</option>
                <option value="userId">아이디</option>
                <option value="userNickName">닉네임</option>
                <option value="userName">이름</option>
            </select>
    
            <input type="search" id="searchValue" name="searchValue"/>
    
            <button th:if="${param.memberCondition == param.deleteMember}" type="submit" class="btn btn-primary">검색</button>
            <button th:if="${param.memberCondition != param.deleteMember}" type="submit" name="memberCondition" value="deleteMember" class="btn btn-primary">검색</button>
    
            <button th:if="${param.memberCondition == param.deleteMember}" type="submit" name="memberCondition" value="deleteMember" class="btn btn-danger" onclick="searchFormDelete()">탈퇴회원</button>
            <a th:if="${param.memberCondition != param.deleteMember}" th:href="@{'adminMemberListView'}" type="button" class="btn btn-outline-primary">정상회원</a>
        </form>
    </div>

    <div id="body-wrapper">
        <div id="body-content">
            <!--타임리프용 TOP버튼-->
            <div class="goTop">
                <th:block th:replace="~{common/goTop :: goTop}" />
            </div>
        </div>
        <!--타임리프용 풋터-->
        <div class="footer">
            <th:block th:replace="~{common/footer :: footer}" />
        </div>
    </div>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
    
        // searchCondition태그 값, 쿼리스트링 searchCondition값 전역변수 지정
        let search = document.getElementById('searchCondition');
        let data = [[ ${param.searchCondition} ]]
    
        // 탈퇴회원 클릭 시 onclick이벤트로 searchCondition값 전체로 변경
        function searchFormDelete() {
            search.value = "total";
        }
    
        // 쿼리스트링에 따라 빈 값(첫 화면)일 경우 전체로 설정, 수동 변경 시 화면 이동할때도 값 유지
        window.onload=function() {
            // console.log(search.value);
    
            if(data == null){
                search.value = "total";
            }else{
                search.value = data;
            }
        }
        /*]]*/
    </script>
</body>
</html>
