<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{ /css/package.css }">
    <title>DANAKA-조합견적</title>
</head>
<body>
<div class="wrapper">
    <div class="package-search-wrapper">

        <div class="package-search input">
            <input id="search-product" type="text" placeholder="상품명으로 검색하세요"/>
        </div>

        <div class="package-search category">
            <table class="category-select">
                <tr>
                    <th>카테고리</th>
                    <td>
                        <select id="category-select-box" onchange="selectCategory(this)">
                            <option value="default">옵션선택</option>
                            <option value="rod">로드</option>
                            <option value="reel">릴</option>
                            <option value="line">라인</option>
                        </select>
<!--                        select 메서드 -->
                        <script type="text/javascript">
                            let selectCategory = function (e) {
                                var cat = $(e).val();

                                switch (cat) {
                                    case "rod":
                                        alert( '로드선택' );
                                        $.ajax({
                                            url: "package/rod-option",
                                            data: {category : "rod"},
                                            type:"POST",
                                        }).done(function (fragment) {
                                            $("#category-option").replaceWith(fragment);
                                        });
                                        break;
                                    case "reel":
                                        alert( '릴선택' );
                                        $.ajax({
                                            url: "dataSend",
                                            data: {category : "reel"},
                                            type:"POST",
                                        }).done(function (fragment) {
                                            $("#category-option").replaceWith(fragment);
                                        });
                                        break;
                                    case "line":
                                        alert( '라인선택' );
                                        $.ajax({
                                            url: "dataSend",
                                            data: {category : "line"},
                                            type:"POST",
                                        }).done(function (fragment) {
                                            $("#resultDiv").replaceWith(fragment);
                                        });
                                        break;
                                    default:
                                        alert( "카테고리를 선택해 주세요." );
                                }

                            }

                        </script>

                    </td>
                </tr>
            </table>

            <hr>
            <table id="category-option" class="category-option"></table>
            <hr>
            <span>선택옵션 :</span>
        </div>
        <!--        카테고리옵션 선택 활성/비활성    -->
        <script type="text/javascript">
            $(".btn-outline-secondary").on("click", function (e) {
                // if ($("#btn-select-all-cart").hasClass("active") === true) {
                //     $("#btn-select-all-cart").removeClass("active");
                // }

                if ($(e.target).hasClass("active") === true) {
                    $(e.target).removeClass("active")
                } else {
                    $(e.target).addClass("active");
                }
            });
        </script>

        <div class="package-search item-list">
            <ul>
                <li>1111111111111</li>
                <li>1111111111111</li>
                <li>1111111111111</li>
                <li>1111111111111</li>
                <li>1111111111111</li>
                <li>1111111111111</li>
            </ul>
        </div>
    </div>

    <div class="package-cart-wrapper">
        <div class="package-cart item">
            11
        </div>
        <div class="package-cart order">
            11
        </div>
    </div>
</div>
</body>
</html>