<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osaz.danaka.common.model.dao.CartMapper">
<!-- 기본 cart dto mapper -->
    <resultMap type="com.osaz.danaka.common.model.dto.CartDTO" id="cartResultMap">
        <id property="cartNo" column="CART_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="productNo" column="PRODUCT_NO"/>
        <result property="amount" column="AMOUNT"/>
        <result property="packageId" column="PACKAGE_ID"/>
    </resultMap>

<!--  SEQ_PACKAGE_ID 조회  -->
    <select id="currvalSeqPackageId" resultMap="cartResultMap">
        SELECT SEQ_PACKAGE_ID.CURRVAL PACKAGE_ID FROM DUAL;
    </select>
<!--  SEQ_PACKAGE_ID NEXTVAL 수행  -->
    <select id="nextvalSeqPackageId" resultMap="cartResultMap">
        SELECT SEQ_PACKAGE_ID.NEXTVAL PACKAGE_ID FROM DUAL;
    </select>

<!--  장바구니 등록  -->
    <insert id="registCart">
        INSERT INTO T_CART
        VALUES
            (
            SEQ_CART_NO.NEXTVAL,
            #{ userNo },
            #{ productNo },
            #{ amount },
            #{ packageId }
            )
    </insert>

</mapper>