<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osaz.danaka.common.model.dao.CartMapper">
<!-- 기본 cart dto mapper -->
    <resultMap type="com.osaz.danaka.common.model.dto.CartDTO" id="cartResultMap">
        <id property="cartNo" column="CART_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="productNo" column="PRODUCT_NO"/>
        <result property="amount" column="AMOUNT"/>
        <result property="packageId" column="PACKAGE_ID"/>
    </resultMap>

    <resultMap type="com.osaz.danaka.common.model.dto.CartProductDTO" id="cartProductResultMap">
        <id property="cartNo" column="CART_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="productNo" column="PRODUCT_NO"/>
        <result property="amount" column="AMOUNT"/>
        <result property="packageId" column="PACKAGE_ID"/>
        <result property="brandName" column="BRAND_NAME"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="option1" column="OPTION1"/>
        <result property="option2" column="OPTION2"/>
        <result property="option3" column="OPTION3"/>
        <result property="option4" column="OPTION4"/>
        <result property="price" column="PRICE"/>
    </resultMap>

<!--  SEQ_PACKAGE_ID 조회  -->
    <select id="currvalSeqPackageId" resultMap="cartResultMap">
        SELECT SEQ_PACKAGE_ID.CURRVAL PACKAGE_ID FROM DUAL;
    </select>

<!--  SEQ_PACKAGE_ID NEXTVAL 수행  -->
    <select id="nextvalSeqPackageId" resultMap="cartResultMap">
        SELECT SEQ_PACKAGE_ID.NEXTVAL PACKAGE_ID FROM DUAL;
    </select>

<!--  회원별 장바구니 조회  -->
    <select id="selectAllCart" resultMap="cartProductResultMap">
        SELECT
            A.CART_NO,
            A.USER_NO,
            A.PRODUCT_NO,
            A.AMOUNT,
            A.PACKAGE_ID
                     ,C.BRAND_NAME
                     ,B.PRODUCT_NAME
                     ,D.CATEGORY_NAME
                     ,CASE
                          WHEN B.CATEGORY_CODE = 'RD' THEN RD.ROD_MODEL
                          WHEN B.CATEGORY_CODE = 'RL' THEN RL.REEL_MODEL
                          WHEN B.CATEGORY_CODE = 'LN' THEN TO_CHAR(LN.LINE_SIZE, 'FM9990.0')
            END OPTION1
                     ,CASE
                          WHEN B.CATEGORY_CODE = 'RD' THEN RD.REEL_TYPE
                          WHEN B.CATEGORY_CODE = 'RL' THEN RL.REEL_TYPE
            END OPTION2
                     ,CASE
                          WHEN B.CATEGORY_CODE = 'RD' THEN RD.LINE_MIN
            END OPTION3
                     ,CASE
                          WHEN B.CATEGORY_CODE = 'RD' THEN RD.LINE_MAX
            END OPTION4
                     ,CASE
                          WHEN B.CATEGORY_CODE = 'RD' THEN RD.ROD_PRICE
                          WHEN B.CATEGORY_CODE = 'RL' THEN RL.REEL_PRICE
                          WHEN B.CATEGORY_CODE = 'LN' THEN LN.LINE_PRICE
            END PRICE

        FROM T_CART A
            JOIN T_PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
            JOIN T_BRAND C ON B.BRAND_NO = C.BRAND_NO
            JOIN T_CATEGORY D ON B.CATEGORY_CODE = D.CATEGORY_CODE
            LEFT JOIN  T_ROD RD ON A.PRODUCT_NO = RD.PRODUCT_NO
            LEFT JOIN  T_REEL RL ON A.PRODUCT_NO = RL.PRODUCT_NO
            LEFT JOIN  T_LINE LN ON A.PRODUCT_NO = LN.PRODUCT_NO
        WHERE A.USER_NO = #{userNo}
    </select>

<!--  회원별 장바구니 상품정보 조회
    <select id="selectCartProduct" resultMap="cartProductResultMap">
        SELECT
            A.PRODUCT_NO
             ,B.BRAND_NAME
             ,A.PRODUCT_NAME
             ,C.CATEGORY_NAME
             ,CASE
                  WHEN A.CATEGORY_CODE = 'RD' THEN RD.ROD_MODEL
                  WHEN A.CATEGORY_CODE = 'RL' THEN RL.REEL_MODEL
                  WHEN A.CATEGORY_CODE = 'LN' THEN TO_CHAR(LN.LINE_SIZE, 'FM9990.0')
            END OPTION1
             ,CASE
                  WHEN A.CATEGORY_CODE = 'RD' THEN RD.REEL_TYPE
                  WHEN A.CATEGORY_CODE = 'RL' THEN RL.REEL_TYPE
            END OPTION2
             ,CASE
                  WHEN A.CATEGORY_CODE = 'RD' THEN RD.LINE_MIN
            END OPTION3
             ,CASE
                  WHEN A.CATEGORY_CODE = 'RD' THEN RD.LINE_MAX
            END OPTION4
             ,CASE
                  WHEN A.CATEGORY_CODE = 'RD' THEN RD.ROD_PRICE
                  WHEN A.CATEGORY_CODE = 'RL' THEN RL.REEL_PRICE
                  WHEN A.CATEGORY_CODE = 'LN' THEN LN.LINE_PRICE
            END PRICE
        FROM T_PRODUCT A
                 JOIN T_BRAND B ON A.BRAND_NO = B.BRAND_NO
                 JOIN T_CATEGORY C ON A.CATEGORY_CODE = C.CATEGORY_CODE
                 LEFT JOIN  T_ROD RD ON A.PRODUCT_NO = RD.PRODUCT_NO
                 LEFT JOIN  T_REEL RL ON A.PRODUCT_NO = RL.PRODUCT_NO
                 LEFT JOIN  T_LINE LN ON A.PRODUCT_NO = LN.PRODUCT_NO
        WHERE A.PRODUCT_NO IN (
            <foreach collection="list" item="item" separator=",">
                #{item.productNo}
            </foreach>
            )
        ORDER BY A.PRODUCT_NO ASC

    </select>
-->


<!--  장바구니 등록  -->
    <insert id="registCart">
        INSERT INTO T_CART
        VALUES
            (
            SEQ_CART_NO.NEXTVAL,
            #{ userNo },
            #{ productNo },
            #{ amount },
            #{ packageId }
            )
    </insert>
<!--  장바구니 수량 수정 -->
    <update id="updateCart">
        UPDATE T_CART
        SET
            AMOUNT = #{ amount }
        WHERE
            CART_NO = #{ cartNo }
    </update>
<!--  장바구니 삭제  -->
    <delete id="deleteCart">
        DELETE FROM T_CART
        WHERE
            CART_NO = #{ cartNo }
    </delete>

</mapper>