<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osaz.danaka.notice.model.dao.NoticeMapper">

    <resultMap type="com.osaz.danaka.notice.model.dto.NoticeDTO" id="noticeResultMap">
        <id property="noticeNo" column="NOTICE_NO"/>
        <result property="userName" column="USER_NAME"/>
        <result property="noticeName" column="NOTICE_NAME"/>
        <result property="noticeContent" column="NOTICE_CONTENT"/>
        <result property="noticeDate" column="NOTICE_DATE"/>
        <result property="noticeCount" column="NOTICE_COUNT"/>
    </resultMap>

    <!-- 페이징 처리를 위한 총 개수 조회 (where에 따라 검색 조건 및 결과 변경)-->
    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*)
          FROM T_NOTICE A
        <where>
            <if test="searchCondition == 'title'">
                A.NOTICE_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'content'">
                A.NOTICE_CONTENT LIKE '%' || #{ searchValue } || '%'
            </if>
        </where>
    </select>

    <!--공지사항 전체조회 / <where> 해당되지 않을 경우 무시되서 기본 리스트 출력(C, D), 출력될 내용들을 ROWNUM으로 카운팅 해주고(B) 번호를 이용하여 출력할 범위를 지정(A)-->
    <select id="selectAllList" resultMap="noticeResultMap">
        SELECT
              A.RNUM
            , A.NOTICE_NO
            , A.USER_NAME
            , A.NOTICE_NAME
            , A.NOTICE_CONTENT
            , A.NOTICE_DATE
            , A.NOTICE_COUNT
        FROM (
                SELECT
                      ROWNUM RNUM
                    , B.NOTICE_NO
                    , B.USER_NAME
                    , B.NOTICE_NAME
                    , B.NOTICE_CONTENT
                    , B.NOTICE_DATE
                    , B.NOTICE_COUNT
                    FROM (
                            SELECT
                                  C.NOTICE_NO
                                , D.USER_NAME
                                , C.NOTICE_NAME
                                , C.NOTICE_CONTENT
                                , C.NOTICE_DATE
                                , C.NOTICE_COUNT
                                FROM T_NOTICE C, T_MEMBER D
                                WHERE C.USER_NO = D.USER_NO
                                <choose>
                                    <when test="searchCondition == 'title'">
                                        AND C.NOTICE_NAME LIKE '%' || #{ searchValue } || '%'
                                    </when>
                                    <when test="searchCondition == 'content'">
                                        AND C.NOTICE_CONTENT LIKE '%' || #{ searchValue } || '%'
                                    </when>
                                </choose>
                                ORDER BY C.NOTICE_NO DESC
                    ) B
                <![CDATA[
                  WHERE ROWNUM <= #{ endRow }
                  ]]>
            ) A
        WHERE A.RNUM >= #{ startRow }
        /*SELECT
                A.NOTICE_NO,
                B.USER_NAME,
                A.NOTICE_NAME,
                A.NOTICE_CONTENT,
                A.NOTICE_DATE,
                A.NOTICE_COUNT
          FROM T_NOTICE A, T_MEMBER B
         WHERE A.USER_NO = B.USER_NO
        ORDER BY NOTICE_NO DESC*/
    </select>

<!--    파라미터 타입 인트형이든 스트링이든 쿼리 값 나옴 / 없어도 나오는디 전달값 한개면 파라미터 이름, 타입을 자동으로 매핑했던거같음 -->
    <select id="selectOneNotice" resultMap="noticeResultMap">
        SELECT
            A.NOTICE_NO,
            B.USER_NAME,
            A.NOTICE_NAME,
            A.NOTICE_CONTENT,
            A.NOTICE_DATE,
            A.NOTICE_COUNT
        FROM T_NOTICE A, T_MEMBER B
        WHERE A.USER_NO = B.USER_NO
          AND A.NOTICE_NO = #{ noticeNo }
    </select>


    <insert id="insertNotice">
        INSERT
        INTO T_NOTICE A
            (
               A.NOTICE_NO
             , A.USER_NO
             , A.NOTICE_NAME
             , A.NOTICE_CONTENT
        )
        VALUES
            (
            SEQ_NOTICE_NO.NEXTVAL
                , 1
                , #{ noticeName }
                , #{ noticeContent }
            )
    </insert>

    <delete id="deleteNotice">
        DELETE FROM T_NOTICE A
        WHERE A.NOTICE_NO = #{ noticeNo }
    </delete>

<!--    공지사항 번호 전달 할때 타입 parameterType="com.study.domain.post.PostRequest" / 반환 타입(map도)은 필요없음, 수정 처리만 하고 리다이렉트로 리스트로 이동-->
    <update id="updateNotice">
        UPDATE T_NOTICE A
        SET
            A.NOTICE_NAME = #{ noticeName }
          , A.NOTICE_CONTENT = #{ noticeContent }
          , A.NOTICE_DATE = SYSDATE
        WHERE
            A.NOTICE_NO = #{ noticeNo }
    </update>

    <update id="incrementNoticeCount">
        UPDATE /* com.greedy.jsp.board.model.dao.BoardDAO#incrementBoardCount() */
            T_NOTICE A
        SET A.NOTICE_COUNT = A.NOTICE_COUNT + 1
        WHERE A.NOTICE_NO = #{ noticeNo }
    </update>

</mapper>