<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osaz.danaka.productPackage.model.dao.PackageMapper">

    <resultMap type="com.osaz.danaka.productPackage.model.dto.SearchProductDTO" id="packageProductResultMap">

        <id property="productNo" column="PRODUCT_NO"/>
        <result property="brandName" column="BRAND_NAME"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="option1" column="OPTION1"/>
        <result property="option2" column="OPTION2"/>
        <result property="option3" column="OPTION3"/>
        <result property="option4" column="OPTION4"/>
        <result property="price" column="PRICE"/>
    </resultMap>

    <!-- ========== rod option mapper ========== -->

    <select id="selectRodBrandNameOption" resultType="String">
        SELECT
            DISTINCT BRAND_NAME
        FROM VIEW_PRODUCT
        WHERE NOT BRAND_NAME IS NULL
          AND CATEGORY_CODE = 'RD'
        ORDER BY BRAND_NAME ASC
    </select>

    <select id="selectRodReelTypeOption" resultType="String">
        SELECT
            DISTINCT ROD_REEL_TYPE
        FROM VIEW_PRODUCT
        WHERE
            NOT ROD_REEL_TYPE IS NULL
            AND CATEGORY_CODE = 'RD'
        ORDER BY ROD_REEL_TYPE ASC
    </select>

    <select id="selectRodLineMinOption" resultType="String">
        SELECT
            DISTINCT *
        FROM (SELECT
                  TO_CHAR(LINE_MIN, 'FM9990.09') LINE_MIN
              FROM VIEW_PRODUCT
              WHERE
                  NOT LINE_MIN IS NULL
                AND CATEGORY_CODE = 'RD'
              ORDER BY LINE_MIN ASC)
    </select>

    <select id="selectRodLineMaxOption" resultType="String">
        SELECT
            DISTINCT *
        FROM (SELECT
                  TO_CHAR(LINE_MAX, 'FM9990.09') LINE_MIN
              FROM VIEW_PRODUCT
              WHERE
                  NOT LINE_MAX IS NULL
                AND CATEGORY_CODE = 'RD'
              ORDER BY LINE_MIN ASC)
    </select>

    <!-- ========== reel option mapper ========== -->

    <select id="selectReelBrandNameOption" resultType="String">
        SELECT
            DISTINCT BRAND_NAME
        FROM VIEW_PRODUCT
        WHERE NOT BRAND_NAME IS NULL
          AND CATEGORY_CODE = 'RL'
        ORDER BY BRAND_NAME ASC
    </select>

    <select id="selectReelTypeOption" resultType="String">
        SELECT
            DISTINCT REEL_TYPE
        FROM VIEW_PRODUCT
        WHERE NOT REEL_TYPE IS NULL
          AND CATEGORY_CODE = 'RL'
        ORDER BY REEL_TYPE ASC
    </select>



    <!-- ========== line option mapper ========== -->

    <select id="selectLineBrandNameOption" resultType="String">
        SELECT
            DISTINCT BRAND_NAME
        FROM VIEW_PRODUCT
        WHERE NOT BRAND_NAME IS NULL
          AND CATEGORY_CODE = 'LN'
        ORDER BY BRAND_NAME ASC
    </select>

    <select id="selectLineSizeOption" resultType="String">
        SELECT
            DISTINCT *
        FROM (SELECT
                  TO_CHAR(LINE_SIZE, 'FM9990.09') LINE_MAX
              FROM VIEW_PRODUCT
              WHERE
                  NOT LINE_SIZE IS NULL
                AND CATEGORY_CODE = 'LN'
              ORDER BY LINE_SIZE ASC)
    </select>

    <!-- ========== product information mapper ========== -->

    <select id="selectProduct" resultMap="packageProductResultMap">

        SELECT
         *
        FROM
            (SELECT
                A.PRODUCT_NO
                ,A.BRAND_NAME
                ,A.PRODUCT_NAME
                ,CASE
                     WHEN A.CATEGORY_CODE = 'RD' THEN A.BRAND_NAME
                     WHEN A.CATEGORY_CODE = 'RL' THEN A.BRAND_NAME
                     WHEN A.CATEGORY_CODE = 'LN' THEN A.BRAND_NAME
                    END OPTION1
                ,CASE
                     WHEN A.CATEGORY_CODE = 'RD' THEN RD.REEL_TYPE
                     WHEN A.CATEGORY_CODE = 'RL' THEN RL.REEL_TYPE
                     WHEN A.CATEGORY_CODE = 'LN' THEN TO_CHAR(LN.LINE_SIZE, 'FM9990.09')
                    END OPTION2
                ,CASE
                     WHEN A.CATEGORY_CODE = 'RD' THEN TO_CHAR(RD.LINE_MIN, 'FM9990.09')
                    END OPTION3
                ,CASE
                     WHEN A.CATEGORY_CODE = 'RD' THEN TO_CHAR(RD.LINE_MAX, 'FM9990.09')
                    END OPTION4
                ,CASE
                     WHEN A.CATEGORY_CODE = 'RD' THEN RD.ROD_PRICE
                     WHEN A.CATEGORY_CODE = 'RL' THEN RL.REEL_PRICE
                     WHEN A.CATEGORY_CODE = 'LN' THEN LN.LINE_PRICE
                    END PRICE
            FROM
                VIEW_PRODUCT A
                LEFT JOIN  T_ROD RD ON A.PRODUCT_NO = RD.PRODUCT_NO
                LEFT JOIN  T_REEL RL ON A.PRODUCT_NO = RL.PRODUCT_NO
                LEFT JOIN  T_LINE LN ON A.PRODUCT_NO = LN.PRODUCT_NO
            WHERE A.CATEGORY_CODE = #{categoryCode}) LIST

    </select>

    <select id="selectProductOption" resultMap="packageProductResultMap">

        SELECT
            *
        FROM
            (SELECT
                 A.PRODUCT_NO
                  ,A.BRAND_NAME
                  ,A.PRODUCT_NAME
                  ,CASE
                       WHEN A.CATEGORY_CODE = 'RD' THEN A.BRAND_NAME
                       WHEN A.CATEGORY_CODE = 'RL' THEN A.BRAND_NAME
                       WHEN A.CATEGORY_CODE = 'LN' THEN A.BRAND_NAME
                    END OPTION1
                  ,CASE
                       WHEN A.CATEGORY_CODE = 'RD' THEN RD.REEL_TYPE
                       WHEN A.CATEGORY_CODE = 'RL' THEN RL.REEL_TYPE
                       WHEN A.CATEGORY_CODE = 'LN' THEN TO_CHAR(LN.LINE_SIZE, 'FM9990.09')
                    END OPTION2
                  ,CASE
                       WHEN A.CATEGORY_CODE = 'RD' THEN TO_CHAR(RD.LINE_MIN, 'FM9990.09')
                    END OPTION3
                  ,CASE
                       WHEN A.CATEGORY_CODE = 'RD' THEN TO_CHAR(RD.LINE_MAX, 'FM9990.09')
                    END OPTION4
                  ,CASE
                       WHEN A.CATEGORY_CODE = 'RD' THEN RD.ROD_PRICE
                       WHEN A.CATEGORY_CODE = 'RL' THEN RL.REEL_PRICE
                       WHEN A.CATEGORY_CODE = 'LN' THEN LN.LINE_PRICE
                    END PRICE
             FROM
                 VIEW_PRODUCT A
                     LEFT JOIN  T_ROD RD ON A.PRODUCT_NO = RD.PRODUCT_NO
                     LEFT JOIN  T_REEL RL ON A.PRODUCT_NO = RL.PRODUCT_NO
                     LEFT JOIN  T_LINE LN ON A.PRODUCT_NO = LN.PRODUCT_NO
             WHERE A.CATEGORY_CODE = #{categoryCode}) LIST
        WHERE
            LIST.OPTION1 IN ( '${categoryOption}' )
           OR LIST.OPTION2 IN ( '${categoryOption}' )
           OR LIST.OPTION3 IN ( '${categoryOption}' )
           OR LIST.OPTION4 IN ( '${categoryOption}' )
    </select>

</mapper>