<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.osaz.danaka.product.model.dao.ProductMapper">
    <resultMap type="com.osaz.danaka.product.model.dto.ProductDTO" id="productResultMap">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="brandNo" column="BRAND_NO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productRegDate" column="PRODUCT_REG_DATE"/>
        <result property="stock" column="STOCK"/>
        <discriminator javaType="String" column="CATEGORY_CODE">
            <case value="RD" resultType="com.osaz.danaka.product.model.dto.RodDTO">
                <result property="model" column="ROD_MODEL"/>
                <result property="reelType" column="ROD_REEL_TYPE"/>
                <result property="lineMin" column="LINE_MIN"/>
                <result property="lineMax" column="LINE_MAX"/>
                <result property="price" column="ROD_PRICE"/>
            </case>
            <case value="RL" resultType="com.osaz.danaka.product.model.dto.ReelDTO">
                <result property="model" column="REEL_MODEL"/>
                <result property="reelType" column="REEL_TYPE"/>
                <result property="price" column="REEL_PRICE"/>
            </case>
            <case value="LN" resultType="com.osaz.danaka.product.model.dto.LineDTO">
                <result property="lineSize" column="LINE_SIZE"/>
                <result property="price" column="LINE_PRICE"/>
            </case>
        </discriminator>
    </resultMap>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
            COUNT(*)
          FROM VIEW_PRODUCT
         WHERE CATEGORY_CODE = #{ categoryCode }
      <if test="searchCondition == 'productName'">
          PRODUCT_NAME LIKE '%' || #{ searchValue } || '%'
      </if>
    </select>
    <select id="selectListByCategory" parameterType="com.osaz.danaka.common.SelectCriteria" resultMap="productResultMap">
        SELECT
            *
          FROM (SELECT
                    *
                  FROM VIEW_PRODUCT B
                 WHERE CATEGORY_CODE = #{ categoryCode }
                    <if test="searchCondition == 'productName'">
                    PRODUCT_NAME LIKE '%' || #{ searchValue } || '%'
                    </if>
                 ORDER BY B.PRODUCT_NO DESC)
         WHERE RNUM BETWEEN #{ startRow } AND #{ endRow }
    </select>
    <select id="selectOneProduct" parameterType="String" resultMap="productResultMap">
        SELECT
            *
          FROM VIEW_PRODUCT
         WHERE PRODUCT_NO = #{ productNo }
    </select>
    <insert id="registWishList" parameterType="Map">
        INSERT INTO T_WISHLIST
        VALUES
            (
             SEQ_WISH_NO.NEXTVAL,
             #{ userNo },
             #{ productNo }
            )
    </insert>
</mapper>