<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> NoticeList </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->

    <!-- 타임리프용 헤더 스타일 시트 적용-->
    <link rel="stylesheet" th:href="@{/css/indexCss.css}" />

<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">-->
<!--    -->
<!--    &lt;!&ndash; jQuery library &ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>-->

<!--    &lt;!&ndash; Popper JS &ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>-->

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- 자바스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <style>
        #contentArea {width:60%}
        #contentArea *{margin:5px}
    </style>

    <script>
        const successMessage = "[[${ successMessage }]]";
        console.log(successMessage);
        if (successMessage){
            alert(successMessage);
        }
    </script>
</head>
<body>

<!--타임리프용 헤더-->
<div class="header">
    <th:block th:replace="~{common/header :: header}" />
</div>

    <div class="content">

        <br><br>
        <h2 align="center">공지사항</h2>
        <br>
        <div th:if="${not #lists.isEmpty(notices)}">

            <table id="contentArea" class="table table-hover" align="center">
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th width="300px">내용</th>
                    <th>작성일</th>
                    <th>조회수</th>
<!--                    <th></th>-->
                </tr>
                </thead>
                <tbody>
                     <tr th:each="notice : ${notices}">
                        <td th:text="${notice.noticeNo}"></td>
                        <td><a th:href="@{/notice/noticeDetail(noticeNo=${ notice.noticeNo })}" th:text="${notice.noticeName}"></a></td>
                        <td th:text="${notice.userName}"></td>
                        <td th:text="${notice.noticeContent}"></td>
                        <td th:text="${#dates.format(notice.noticeDate, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${notice.noticeCount}"></td>
<!--                        <td><a href="/board" th:href="@{/templates/notice/delete/{id}(id=${notice.noticeNo})}" class="btn btn-danger">삭제</a></td>-->
                    </tr>
                </tbody>
            </table>
            <br>

<!--            TOP 버튼 예정
            <div class="row align-items-end" id="backtotop"> - .align-items-start, .align-items-end, .align-items-center, .align-items-baseline및 .align-items-stretch (기본값)입니다 -
                <button type="button" class="btn btn-info btn-lg" onclick="window.scrollTo(0,0);">
                    ▲TOP
                </button>
            </div>-->

        </div>

        <div class="search-area" align="center">
            <select id="searchCondition" name="searchCondition">
                <option value="title">제목</option>
                <option value="content">내용</option>
            </select>
            <input type="search">
            <button type="submit">검색하기</button>
        </div>

        <div align="center">
            <a th:href="@{'noticeEnroll'}" class="btn btn-primary">게시글추가</a>
        </div>
        <br>
    </div>

<!-- 페이징 처리-->
<div class="paging">
    <th:block th:replace="~{common/paging :: paging}" />
</div>

</body>
</html>
