<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> NoticeEnroll </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 타임리프용 헤더, 메인, 푸터고정, goTop, 컨텐츠영역 스타일 시트 적용-->
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <!-- 타임리프용 푸터 스타일 시트 적용-->
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 자바스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
    <!--타임리프용 헤더-->
    <div class="header">
        <th:block th:replace="~{common/header :: header}" />
    </div>
    
    <div class="content">
        <h2 align="center">공지사항 작성</h2>
        <form th:action="@{/notice/noticeEnroll}"  method="post">
            <table align="center" id="contentArea">
                <tr>
                    <th><label for="title">제목</label></th>
                    <td><input type="text" id="title" class="form-control" name = "noticeName"  required></td>
                </tr>
                <tr>
                    <th colspan="2"><label for="content">내용</label></th>
                </tr>
                <tr>
                    <th colspan="2"><textarea class="form-control" required name="noticeContent" id="content" rows="10" style="resize:none;"></textarea></th>
                </tr>
            </table>
            <div align="center">
                <button type="submit" class="btn btn-primary">등록하기</button>
                <button type="reset" class="btn btn-danger">초기화</button>
                <button type="button" class="btn btn-secondary" onclick="history.go(-1);">이전으로</button>
            </div>
        </form>
    </div>

    <div id="body-wrapper">
        <div id="body-content">
            <!--타임리프용 TOP버튼-->
            <div class="goTop">
                <th:block th:replace="~{common/goTop :: goTop}" />
            </div>
        </div>
        <!--타임리프용 풋터-->
        <div class="footer">
            <th:block th:replace="~{common/footer :: footer}" />
        </div>
    </div>
</body>
</html>
