<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><title>마이페이지</title>
<!--  <link rel="stylesheet" th:href="@{/css/index.css}">-->
  <link rel="stylesheet" th:href="@{/css/myPageStyle.css}">
  <link rel="stylesheet" th:href="@{/css/myPageStyle2.css}">

<!--  <link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/list.css}">-->
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row" style="margin: 0; padding: 0;">
<!--  <div class="header">-->
<!--    <th:block th:replace="~{common/rootheader :: header}"/>-->
<!--  </div>-->

  <div class="col-lg-1"></div>
  <div class="col-lg-6" style="margin: 25px;">

  </div>

  <div class="col-lg-3">

  </div>
</div>

<div id="viewport" >
  <!-- Sidebar -->
  <div id="sidebar">
    <header style="height: 200px">

      <a href="#" style="margin-outside: 10px"><img src="/image/image2.png"></a>
      <div sec:authentication="principal.memberName" style="color: black">님</div>
      <a style="color: black">환영합니다!</a>
    </header>

    <ul class="nav">
      <li>
        <a th:href="@{/member/modification}">
          <i class="zmdi zmdi-view-dashboard"></i> 회원정보 수정
        </a>
      </li>
      <hr>
      <li>
        <a th:href="@{/member/wishList}">
          <i class="zmdi zmdi-link"></i> 관심상품
        </a>
      </li>
      <hr>
      <li>
        <a th:href="@{/package/package}">
          <i class="zmdi zmdi-widgets"></i> 장바구니
        </a>
        <hr>
      </li>
      <li>
        <a th:href="@{/}">
          <i class="zmdi zmdi-widgets"></i> 홈으로가기
        </a>
        <hr>
      </li>
      <li class="form-group">
        <br>
        <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button"onclick="location.href='/member/unregister'" id="unregister" class="btn btn-primary rounded submit " style="background: white; color: black; width:100px; height: 40px" >회원탈퇴</button>
      </li>
    </ul>
  </div>


  <div id="content" >


    <div class="container-fluid">
      <h1>주문 내역</h1>
      <div >


          <div class="allCheck" style="display: flex; justify-content: flex-end; margin-right: 10% " >
            <input type="checkbox" name="allCheck" id="allCheck" /><label for="allCheck">모두 선택</label>
            <script th:inline="javascript">
              $("#allCheck").click(function(){
                let chk = $("#allCheck").prop("checked");
                if(chk) {
                  $(".chBox").prop("checked", true);
                } else {
                  $(".chBox").prop("checked", false);
                }
              });

            </script>
          </div>


          <div class="delBtn" style="display: flex; justify-content: flex-end; margin-right: 10% ">
            <button type="button" class="selectDelete_btn" >선택 취소</button>
            <script th:inline="javascript">
              $(".selectDelete_btn").click(function(){
                let confirm_val = confirm("정말 취소하시겠습니까?");

                if(confirm_val) {
                  let checkArr = new Array();

                  $("input[class='chBox']:checked").each(function(){
                    checkArr.push($(this).attr("data-orderNum"));
                  });

                  $.ajax({
                    url : "/member/cancelPurchase",
                    type : "post",
                    data : $.param({ chbox : checkArr }),
                    success : function(result){

                      if(result == 1){
                        location.href = "/member/mypage";
                        alert("취소 성공");
                      }else {
                        alert("취소 실패");
                      }

                    }
                  });
                }
              });

            </script>
          </div>


        <div>

          <div class="outerProductsContainer">
            <div class="productContainer" th:each="order : ${ orderList }">

              <div class="checkBox">
                <input type="checkbox" name="chBox" class="chBox" th:data-orderNum="${order.orderNo}"  />
                <script th:inline="javascript">
                $(".chBox").click(function(){
                $("#allCheck").prop("checked", false);
                });
                </script>
              </div>


              <div class="thumnail">
                  <img th:src="${ order?.tSavePath }?:'/image/line/lineDefault.png'" alt="상품썸네일" th:onclick="|location.href='@{/product/item2(productNo=${ order.productNo })}'|">



              </div>
              <div class="detail1">
                <div class="productName">
                  <a th:href="@{/product/item2(productNo=${ order.productNo })}"><p th:text="${ order.productName }">
                    상품명</p></a>
                </div>
                <div class="productDetail">

                    <p th:text="${ order.orderId }">주문아이디</p>
                  <p th:text="${ order.amount }">주문수량</p>
                  <p th:text="${ order.orderRequest }">주문요청사항</p>



                </div>
              </div>
              <div class="detail2">
                <div class="price">

                    <p th:text="${ #numbers.formatCurrency(order.totPrice) }">상품가격</p>
                  <p th:text="${ order.regDate }">주문일자</p>
                  <div class="delete">
                    <button type="button" style="height: 30px" th:class="|delete${order.orderNo}btn|" th:data-orderNum="${order.orderNo}">주문 취소</button>

                    <script th:inline="javascript">
                      $('.delete'+[[${order.orderNo}]]+'btn').click(function(){
                        let confirm_val = confirm("정말 삭제하시겠습니까?");

                        if(confirm_val) {
                          let checkArr = new Array();


                            checkArr.push($(this).attr("data-orderNum"));


                          $.ajax({
                            url : "/member/cancelPurchase",
                            type : "post",
                            data : $.param({ chbox : checkArr }),
                            success : function(result){

                              if(result == 1){
                                location.href = "/member/mypage";
                                alert("삭제 성공");
                              }else {
                                alert("삭제 실패");
                              }

                            }
                          });
                        }
                      });

                    </script>
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>
      </li>

    </div>
  </div>

</div>


        <!--<code>#content</code>.-->
      </p>
    </div>
  </div>
</div>
</body>
</html>