<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wishList</title>
    <link rel="stylesheet" href="/static/css/mypagestyle.css">
    <link rel="stylesheet" href="/static/css/list.css">
</head>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row" style="margin: 0; padding: 0;">
    <div class="col-lg-2">
        <img src="mainlogo.png" alt="메인로고.png" id="mainlogo" style="width: 100%; margin: 20px;">
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6" style="margin: 25px;">
        <form>
            <div class="input-group">
                <input id="search" type="text" class="form-control" name="search" placeholder="검색어를 입력하세요.">
                <span class="input-group-addon btn"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </form>
    </div>

    <div class="col-lg-3">

    </div>
</div>
<nav class="navbar navbar-inverse" style="background-color: #0448AD; margin-bottom: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: white;">DANAKA</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" style="color: white;">로드</a></li>
            <li><a href="#" style="color: white;">릴</a></li>
            <li><a href="#" style="color: white;">라인</a></li>
            <li><a href="#" style="color: white;">장비 조합</a></li>
            <li><a href="#" style="color: white;">공지사항</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="color: white;"><span class="glyphicon glyphicon-user"></span>회원 가입</a></li>
            <li><a href="#" style="color: white;"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
        </ul>
    </div>
</nav>
<div id="viewport" >
    <!-- Sidebar -->
    <div id="sidebar">
        <header style="height: 200px">

            <a href="#" style="margin-outside: 10px"><img src="/static/image/image2.png"></a>
            <a style="color: black">user01 님</a>
            <a style="color: black">환영합니다!</a>
        </header>

        <ul class="nav">
            <li>
                <a href="#">
                    <i class="zmdi zmdi-view-dashboard"></i> 회원정보 수정
                </a>
            </li>
            <hr>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-link"></i> 관심상품
                </a>
            </li>
            <hr>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-widgets"></i> 장바구니
                </a>
                <hr>
            </li>
            <li class="form-group">
                <br>
                <br>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary rounded submit " style="background: white; color: black; width:100px; height: 40px" >회원탈퇴</button>
            </li>
        </ul>
    </div>

    <!-- Content -->
    <div id="content" >
        <!--  <nav class="navbar navbar-default">
           <div class="container-fluid">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
                  </a>
                </li>
                <li><a href="#">Test User</a></li>
              </ul>
            </div>
          </nav>-->
        <div class="container-fluid">

            <h1>관심 상품</h1>
            <div>

                <div>

                    <div class="outerProductsContainer">
                        <div class="productContainer">
                            <div class="thumnail">
                                <img src="/static/image/thumnail.png" alt="상품썸네일">
                            </div>
                            <div class="detail1">
                                <div class="productName">
                                    <a href=""><h4>상품명</h4></a>
                                </div>
                                <div class="productDetail">
                                    <p>상품정보</p>
                                </div>
                            </div>
                            <div class="detail2">
                                <div class="price">
                                    <h5>상품가격</h5>
                                </div>
                                <div class="regDate">
                                    <p>상품등록일</p>
                                </div>
                            </div>
                        </div>
                        <div class="productContainer">
                            <div class="thumnail">
                                <img src="/static/image/thumnail.png" alt="상품썸네일">
                            </div>
                            <div class="detail1">
                                <div class="productName">
                                    <p><h4>상품명</h4></p>
                                </div>
                                <div class="productDetail">
                                    <p>상품정보</p>
                                </div>
                            </div>
                            <div class="detail2">
                                <div class="price">
                                    <h5>상품가격</h5>
                                </div>
                                <div class="regDate">
                                    <p>상품등록일</p>
                                </div>
                            </div>
                        </div>
                        <div class="productContainer">
                            <div class="thumnail">
                                <img src="" alt="상품썸네일">
                            </div>
                            <div class="detail1">
                                <div class="productName">
                                    <h4>상품명</h4>
                                </div>
                                <div class="productDetail">
                                    <p>상품정보</p>
                                </div>
                            </div>
                            <div class="detail2">
                                <div class="price">
                                    <h5>상품가격</h5>
                                </div>
                                <div class="regDate">
                                    <p>상품등록일</p>
                                </div>
                            </div>
                        </div>
                        <div class="productContainer">
                            <div class="thumnail">
                                <img src="" alt="상품썸네일">
                            </div>
                            <div class="detail1">
                                <div class="productName">
                                    <h4>상품명</h4>
                                </div>
                                <div class="productDetail">
                                    <p>상품정보</p>
                                </div>
                            </div>
                            <div class="detail2">
                                <div class="price">
                                    <h5>상품가격</h5>
                                </div>
                                <div class="regDate">
                                    <p>상품등록일</p>
                                </div>
                            </div>
                        </div>
                        <div class="productContainer">
                            <div class="thumnail">
                                <img src="" alt="상품썸네일">
                            </div>
                            <div class="detail1">
                                <div class="productName">
                                    <h4>상품명</h4>
                                </div>
                                <div class="productDetail">
                                    <p>상품정보</p>
                                </div>
                            </div>
                            <div class="detail2">
                                <div class="price">
                                    <h5>상품가격</h5>
                                </div>
                                <div class="regDate">
                                    <p>상품등록일</p>
                                </div>
                            </div>
                        </div>

                                </div>
                            </div>
                        </div>

                            </div>
                        </div>

                    </div>




                    <!--<code>#content</code>.-->
            </p>
        </div>
    </div>
</div>
    </div>
</div>
</body>
</html>