/*아이콘*/
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/*body {*/
/*    min-height: 65rem;*/
/*    min-width: 760px;*/
/*    padding-top: 10rem;*/
/*}*/

/*상단바 기본*/
#logo {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#logo:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#firstNav {
    background-color: rgb(255, 255, 255);
    height: 100px;
    margin-top: -12px;
}

#secondNav {
    background-color: rgb(0, 0, 202);
    flex-wrap: nowrap;
}

#firstNav>a {
    margin-left: 30px;
    color: black;
}

/*최상단 검색창*/
#search {
    display: flex;
    border: 2px solid rgb(0, 0, 202);
    margin-top: 5px;
    height: 50px;
}

#search>input {
    width: 400px;
    border-radius: 0;
}

#search>button {
    background-color: rgb(0, 0, 202);
    width: 3em;
    margin-left: -10px;
    border-radius: 0;
    border: 0;
}

#search>button>i {
    color: white;
    font-size: 20px;
}

/*최상단 우측 기능*/
#topRight {
    display: flex;
    margin: 15px 30px 0 0;
}

.topRightIcon{
    cursor: pointer;
    position: relative;
    margin-left: 15px;
}

.Icon {
    position: absolute;
    left: 8px;
    bottom: 20px;
    font-size: 30px;
}

#cart {
    cursor: pointer;
    position: relative;
}

#cart>i {
    position: absolute;
    left: 18px;
    bottom: 24px;
    font-size: 28px;
}

#myPage i {
    margin-left: 15px;
}

#logout i {
    margin-left: 5px;
}

#loginMy {
    cursor: pointer;
    position: relative;
    margin-left: 30px;
}

#loginMy>i {
    position: absolute;
    left: 8px;
    bottom: 20px;
    font-size: 30px;
}

#topRight span {
    font-size: 15px;
}

/*상단 전체 카테고리*/
#totalCategory {
    margin-left: 20px;
    font-size: 20px;
    color: white;
    display: inline;
    text-decoration: none;
    min-width: 250px;
    border: 1px solid rgb(0, 0, 202);
}

#totalCategory:hover {
    color: black;
    font-weight: bold;
}

#totalCategory>i {
    font-size: 25px;
    margin-right: 5px;
}

/*중앙 카테고리*/
#centerCategory {
    font-size: 1.3em;
    margin: -5px 0 -5px 0;
}

#centerCategory>li>a {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#centerCategory>li>a:hover {
    color: black;
    font-weight: bold;
}

#adminMember {
    margin-right: 40px;
}

#adminMember:hover {
    color: black;
    font-weight: bold;
}

#adminMemberDiv {
    margin-right: 35px;
}

#notice {
    margin-right: 30px;
}

#notice:hover {
    color: black;
    font-weight: bold;
}

/*최소 영역 지정*/
body {min-width: 1400px}

/*컨텐츠 여백 지정*/
/*.content {*/
/*    margin-top: 200px;*/
/*}*/

/*슬라이더 여백 지정*/
.slide {
    margin-top: -40px;
}

/*컨텐츠 영역 지정    */
#contentArea {
    width: 60%
}

#contentArea * {
    margin: 5px
}

/*TOP 버튼*/
#goTop{
    margin-top: 120px;
    margin-left: 90%;
    position: fixed;
    z-index: 100;
}
#goTop button{
    background-color: rgb(0, 0, 202);
    color: white;
}

/* 전체보기 드랍다운  */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
}

.navbar .dropdown-menu {
    border:none;
    background-color: rgb(240, 240, 255) !important;
}

#dropDown a {
    font-size: 20px;
    color: rgb(0, 0, 202);
}
#dropDown a:hover {
    font-weight: bold;
    color: black;
}

#dropProduct img {
    border: 1px solid rgb(0, 0, 202);
}

#dropProduct p {
    color: rgb(0, 0, 202);
    margin: 10px 0 0 10px;
    font-weight: bold
}

/*.active{*/
/*    font-weight: bolder;*/
/*    font-size: large;*/
/*    margin: 10px;*/
/*}*/

#navbarDropdown{
    margin-left: -10px;
    font-size: larger;
    font-weight: 400;
    color: white;
}

#navbarDropdown:hover{
    color: black;
}

#navbarDropdown i{
    margin-bottom: 10px;
}

/* 미디어 스타일 지정 (조건) */
@media screen and (min-width: 992px) {
    /* 드랍다운 내 호버 상태 유지 위해 패딩제거 */
    .navbar {
        padding-bottom:0px;
    }

    /* 여백 */
    .navbar .nav-item {
        margin:0 2rem;
    }

    /* 드랍다운 전체 너비 지정  */
    .navbar .dropdown {position:static;}

    .navbar .dropdown-menu {
        width:100%;
        left:0;
        right:0;
        /* 드랍다운 영역 높이  */
        top:145px;

        display:block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;

    }

    /* 드랍다운 호버 */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display:block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .navbar .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
        background-color: #fff;
    }
}

/*중간 영역*/
#mid {
}

/*중간 영역 상품*/
#mid h5 {
    margin: 50px 0 0 200px;
}

#midContent {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

#top4product {
    display: flex;
    margin-right: 100px;
}

/*메인페이지 상품*/
#mainProduct {
    /*border: 1px solid black;*/
    width: 200px;
    margin: 20px 20px 0 20px;
}

#mainProductThumb img {
    width: 200px;
    cursor: pointer;
}

#mainProductName a {
    font-weight: bold;
    font-size: 20px;
    margin: 3px 0 0 10px;
    text-decoration: none;
    color: black;
}

#mainProductDetail p {
    font-size: 13px;
    margin: -3px 0 0 10px;
}

#mainProductPrice p {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

/*미드영역 테이블*/
#noticeMain table {
    width: 500px;
    margin: 20px 20px 0 0;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

#noticeMain table th {
    border-bottom: 1px solid #444444;
    padding: 7px;
}
#noticeHead {
    background-color: rgb(0, 0, 202);
    color: white;
    text-align: right;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#noticeMain a {
    text-decoration: none;
}
#noticeMain table tr:nth-child(even) {
    background-color: rgb(240, 240, 255);
}
#noticeMain table td {
    border-bottom: 1px solid #444444;
    padding: 6px;
}

/*페이징*/
.pagingArea {
    margin-top: 1%;
    margin-bottom: 1%;
}
.pagingArea>button {
    width: 2em;
    height: 2em;
    border-radius: 5px;
    color: black;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #0a53bd;
    text-align: center;
}
.pagingArea>button:hover {
    background-color: #45d1ea;
}
.pagingArea>button:disabled {
    background-color: #b2c7e3;
}

/* footer 하단 고정 / body 헤더 가린 공간 여백 지정*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 90px;
}

#body-wrapper {
    /*min-height: 100%;*/
    position: relative;
}

#body-content {
    margin-top: 100px;
    padding-bottom: 250px; /* footer의 높이 */
}

footer {
    width: 100%;
    height: 250px; /* footer의 높이 */
    position: absolute;
    bottom: 0;
    left: 0;
}
