body {
    background-color: #f0f2fe;
    margin-top: 1%;
}
body>hr {
    width: 60%;
    color: #d2d1f6;
    margin: 1% auto;
}
.productContainer {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.productContainer>div {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
}
.imgContainer {
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    margin-right: 1%;
    width: 98%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.imgContainer img {
    border: 1px #e5e5ff solid;
}
.bigImg {
    width: 80%;
    margin: 3% auto 1% auto;

}
.bigImg>img {
    width: 100%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.otherImges {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
}
.otherImg {
    width: 10%;
    height: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.otherImg>img {
    width: 100%;
    height: 100%;
}
.detailContainer {
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    margin-left: 0.5%;
    padding: 1% 2% 0 2%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.productName {
}
.productDetail {
    color: gray;
    font-size: 0.5rem;
}
.productName, .productDetail {
    display: block;
}
.quantity {
    display: flex;
    font-size: 0.5rem;
    justify-content: space-between;
}
.quantity>span {
    align-self: center;
}
.quantity>input {
    width: 30%;
    border: 1px #C4C2FF solid;
    border-radius: 6px;
}
.price {
    display: flex;
    justify-content: space-between;
}
.option {
    width: 100%;
    height: 10%;
    margin: 1% auto 1% auto;
}
#option {
    width: 99%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 0.7rem;
    background-color: white;
    border: 1px #C4C2FF solid;
    border-radius: 6px;
}
.buttons {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-evenly;
}
.buttons>button {
    width: 2em;
    height: 2em;
    align-items: flex-end;
    border-radius: 5px;
    color: white;
    border: 1px #C4C2FF solid;
    font-size: 1rem;
    background-color: white;
}
.buttons>button>img {
    width: 80%;
}
#buy {
    width: 80%;
    background-color: #0448AD;
}
.refItemsContainer {
    box-sizing: border-box;
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0.5%;
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.refItemsContainer>div {
    display: flex;
    width: 10%;
    margin: 0 1% 0 1%;
    padding: 0.5%;
    justify-content: center;
}
.refItemsContainer>div>img {
    width: 100%;
    border: 1px #e5e5ff solid;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.refItemsContainer>div>p {
    text-align: center;
}
.contentContainer {
    box-sizing: border-box;
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    width: 60%;
    height: 1000px;
    margin: 0 auto;
    padding: 1%;
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.content {
    border: 1px gray solid;
    width: 98%;
    height: 100%;
    margin: 0 auto;
    border-radius: 1em;
    background-color: white;
}

@media screen and (max-width : 767px) {
    .productContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "top"
            "bottom";
        grid-gap: 0.5em;
    }
    .productContainer>div {
        width: 100%;
    }
    .productContainer:nth-child(1) {
        grid-area: top;
    }
    .productContainer:nth-child(2) {
        grid-area: bottom;
    }
    .refItemsContainer {
        width: 100%;
    }
    .contentContainer {
        width: 100%;
    }
    body>hr {
        width: 100%;
    }
    #centerCategory, #notice {
        display: none;
    }
}
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .productContainer {
        width: 80%;
    }
    .refItemsContainer {
        width: 80%;
    }
    .contentContainer {
        width: 80%;
    }
    body>hr {
        width: 80%;
    }
    #centerCategory, #notice {
        display: none;
    }
}