body {
    background-color: #f0f2fe;
    margin-top: 1%;
}
body>hr {
    width: 60%;
    color: #d2d1f6;
    margin: 1% auto;
}
.productContainer {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.productContainer>div {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
}
.imgContainer {
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    margin-right: 1%;
    width: 98%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.imgContainer img {
    border: 1px #e5e5ff solid;
}
.bigImg {
    width: 62%;
    margin: 3% auto 3% auto;

}
.bigImg>img {
    width: 100%;
    min-height: 16em;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.otherImges {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.otherImg {
    width: 10%;
    height: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.otherImg>img {
    width: 100%;
    height: 100%;
}
.detailContainer {
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    margin-left: 0.5%;
    padding: 1% 2% 0 2%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    min-height: 250px;
}
.productName {
    height: 10%;
}
.productDetail {
    color: gray;
    font-size: 0.8rem;
    height: 8.5em;
}
.productName, .productDetail {
    display: block;
}
#toBottom {
    position: absolute;
    bottom: 1px;
    width: 92%;
}
.quantity {
    display: flex;
    font-size: 0.5rem;
    justify-content: space-between;
}
.quantity>span {
    align-self: center;
}
/*.quantity>input {*/
/*    width: 30%;*/
/*    height: 3em;*/
/*    border: 1px #C4C2FF solid;*/
/*    border-radius: 6px;*/
/*}*/
.quantity>div>input {
    width: 46px;
    height: 1.2rem;
    border: 1px #C4C2FF solid;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}
.quantity>div>button {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px #e3e6fa solid;
    font-size: 1rem;
    background-color: #e3e6fa;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}
.quantity>div>button>div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity>div>button>div>img {
    width: 8px;
    height: 8px;
    object-fit: contain;
    vertical-align: middle;
}
.price {
    display: flex;
    justify-content: space-between;
}
.option {
    height: 10%;
    margin: 2% auto 1% auto;
}
#option {
    width: 100%;
    height: 3em;
    text-align: center;
    margin: 0 auto;
    font-size: 0.7rem;
    background-color: white;
    border: 1px #C4C2FF solid;
    border-radius: 6px;
}
option {
    font-size: 1rem;
}
.buttons {
    display: flex;
    margin-top: 2%;
    margin-bottom: 1em;
    justify-content: space-between;
    box-sizing: border-box;
}
.buttons>button {
    width: 2.2em;
    height: 2.2em;
    align-items: flex-end;
    border-radius: 5px;
    color: white;
    border: 1px #C4C2FF solid;
    font-size: 1rem;
    background-color: white;
}
.buttons>button>img {
    width: 100%;
}
#buy {
    width: 70%;
    background-color: #0448AD;
    box-sizing: border-box;
    padding: 0;
    border: none;
}
.refItemsContainer {
    box-sizing: border-box;
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    width: 60%;
    height: 96px;
    margin: 0 auto;
    display: flex;
    padding: 0.5em;
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.refMove {
    height: 5em;
}
.refMove>button {
    height: 100%;
    border: 1px #c3c1fe solid;
    background-color: transparent;
}
#refLeft {
    position: absolute;
    left: 5px;
}
#refRight {
    position: absolute;
    right: 5px;
}
#refLeft>button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#refRight>button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#slideShow {
    position: absolute;
    width: 97%;
    height: 100px;
    overflow: hidden;
}
.refItems {/* slideshow*/
    position: absolute;
    left: 0;
    width: 1600px;
    height: 100px;
    transition: left 0.5s ease-out;
}
.refItems>div:not(last-child) {
    display: inline-block;
    width: 75px;
    margin-right: 27px;
}
.refItems>div>img {
    width: 100%;
    border: 1px #e5e5ff solid;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
}
.contentContainer {
    box-sizing: border-box;
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    width: 60%;
    height: 1000px;
    margin: 0 auto;
    padding: 1%;
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.content {
    border: 1px #C4C2FF solid;
    width: 98%;
    height: 100%;
    margin: 0 auto;
    border-radius: 1em;
    background-color: white;
}

@media screen and (max-width : 767px) {
    .productContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "top"
            "bottom";
        grid-gap: 0.5em;
    }
    .productContainer>div {
        width: 100%;
    }
    .productContainer:nth-child(1) {
        grid-area: top;
    }
    .productContainer:nth-child(2) {
        grid-area: bottom;
    }
    .refItemsContainer {
        width: 100%;
        height: 96px;
    }
    .contentContainer {
        width: 100%;
    }
    body>hr {
        width: 100%;
    }
    #centerCategory, #notice {
        display: none;
    }
}
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .bigImg {
        width: 80%;
    }
    .productContainer {
        width: 80%;
    }
    .refItemsContainer {
        width: 80%;
        height: 96px;
    }
    .contentContainer {
        width: 80%;
    }
    body>hr {
        width: 80%;
    }
    #centerCategory, #notice {
        display: none;
    }
}