body {
    background-color: #f0f2fe;
}
.categoryImg {
    height: 9em;
}
.categoryImg>img {
    width: 100%;
    height: 100%;
}
.orderContainer {
    position: relative;
    left: 22%;
    margin-top: 1em;
    width: 18em;
}
.orderContainer>button {
    margin: 0 -4px 0 -4px;
    padding: 0.5em;
    border: 1px #C4C2FF solid;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    font-size: 13px;
}
.orderContainer>button:hover {
    background-color: #0448AD;
    color: white;
}
/*.orderContainer>button:first-child {*/
/*    background-color: #0448AD;*/
/*    color: white;*/
/*}*/
.outerProductsContainer {
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    width: 60%;
    margin: 0 auto 1em auto;
    background-color: white;
}
.productContainer {
    display: flex;
    border: 1px #C4C2FF solid;
    margin: 1%;
    padding: 10px;
    border-radius: 1em;
    align-items: center;
    justify-content: space-between;
}
.productContainer:hover {
    background-color: #d9f6f6;
}
.productContainer>div {
    display: inline-block;
    height: 100%;
    vertical-align: center;
}
.thumnail {
    width: 8%;

    min-width: 7em;
    margin: 1px;
}
.thumnail>img {
    width: 100%;
    border: 1px #e5e5ff solid;


}
.detail1 {
    width: 83%;
    align-self: flex-start;
}
.detail1 * {
    margin-top: 0;
    margin-bottom: 1px;
    color: black;
    text-decoration: none;
}
.detail1>a {

}
.productName>p{
    margin: 0;
}
.productDetail {

    font-size: 10px;
    color: gray;
    margin-top: 1px;
}
.detail2 {
    width: 6%;
    min-width: 4em;
    padding: 0;
    align-self: flex-end;
}
.detail2>div {
    display: block;
}
.detail2 *{
    margin: 0;
}
.price {

}
.regDate {
    font-size: 10px;
    color: gray;
}
.pagingArea {
    margin-top: 1%;
    margin-bottom: 1%;
}
.pagingArea>button {
    width: 2em;
    height: 2em;
    border-radius: 5px;
    color: black;
    border: 1px #C4C2FF solid;
    font-size: 1rem;
    background-color: white;
    text-align: center;
}
.pagingArea>button:disabled {
    background-color: #dcdcdc;
}
@media screen and (max-width : 767px) {
    .outerProductsContainer {
        width: 100%;
    }
    .orderContainer {
        left: 5%;
    }
}
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .outerProductsContainer {
        width: 80%;
    }
    .orderContainer {
        left: 13%;
    }
}