/*==================== wrapper ====================*/
.wrapper {
    display: flex;
    width: 100%;
}

/*==================== package search ====================*/

.package-search-wrapper {
    border: 1px solid black;
    height: 100%;
    width: 55%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    margin-left: 10%;


}

.package-search{
    border: 1px solid black;
    background-color: yellow;
}

#search-product {
    width: 90%;
}
.category-select, select{
    margin-left: 20px;
    margin-top: 5px;
}

.category-option button {
    margin-left: 20px;
    margin-right: auto;
}



/*==================== package cart ====================*/
.package-cart-wrapper {
    border: 1px solid black;
    width: 20%;
    height: 100%;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    margin-left: 0%;

    background-color: cyan;
}