body {
    background-color: #F2F4FF;
}
/*==================== wrapper ====================*/
.wrapper {
    display: flex;
    width: 100%;
    margin-top: 200px;
    background-color: #F2F4FF;
}

/*==================== package search ====================*/

.package-search-wrapper {
    /*border: 1px solid black;*/
    height: 100%;
    width: 55%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    margin-left: 10%;


}

.package-search{

}

#search-product {
    width: 90%;
}
.category-select, select{
    margin-left: 20px;
    margin-top: 5px;
}

.category-option button {
    margin-left: 20px;
    margin-right: auto;
}
.category-option tr {
    margin-left: 20px;
    margin-right: auto;
}

/*==================== item list ====================*/
.list-group-item {
    height: 150px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;

    box-shadow: 8px 5px 8px lightslategrey;

    display: flex;
}

.item-component {
    /*border: 1px solid black;*/
    margin-top: auto;
    margin-bottom: auto;
}


.item-thumnail {
    height: 100%;
    width: auto;
    pointer-events: none;
}
.item-info {
    width: 65%;
    padding-left: 5%;
    pointer-events: none;
}
#item-info-title {
    font-size: x-large;
}
#item-info-options {
    font-size: medium;
}

.item-price {
    width: 34%;
    pointer-events: none;
}
.item-info-price {
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
}

#cart-list{
    padding-bottom: 10%;
}

/*==================== package cart ====================*/
.package-cart-wrapper {
    /*border: 1px solid black;*/
    width: 20%;
    height: 100%;

    margin: auto 10% auto 0;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    /*margin-right: 10%;*/
    /*margin-left: 0%;*/

    background-color: cyan;
}

#backtotop {
    box-sizing: border-box;
    position: fixed;
    right: 0.7em;
    bottom: 2em;
}
#toTopBtn {
    background-color: #0a53be;
    color: white;
    border: none;
}