#productBoardContainer {
    z-index: 2;
    position: relative;
    width: 60%;
    margin: 1% auto;
    padding: 1%;
    border: 1px #C4C2FF solid;
    border-radius: 1em;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}
#productReview, #productAsk {
    margin: 0 auto;
}
.boardControlButtons {
    box-sizing: border-box;
    padding: 0;
}
#reviewBtn, #askBtn{
    width: 49%;
    box-sizing: border-box;
    height: 3em;
    border: 1px #C4C2FF solid;
    background-color: white;
}
#reviewBtn {
    border-top-left-radius: 5px;
    margin-left: 1%;
    margin-right: 0;
    border-right: none;
    border-bottom: none;
    background-color: #0447ad;
    color: white;
}
#askBtn {
    border-top-right-radius: 5px;
    margin-left: 0;
    border-bottom: none;
}
#productReview, #productAsk {
    width: 98%;
    border: 1px #C4C2FF solid;
    border-top: none;
    border-bottom: none;
    z-index: 2;
    background-color: white;
}
#productAsk {
    display: none;
}
.boardHead, .boardTitle {
    display: grid;
    grid-template-columns: 5% 65% 15% 15%;
    padding: 1%;
    text-align: center;
    border-bottom: 1px #C4C2FF solid;
    font-size: small;
}
.boardHead{
    background-color: #0447ad;
    color: white;
    border-top: none;
    border-bottom: none;
}
.boardHead>span {
    height: 32px;
    line-height: 32px;
}
.boardNull {
    text-align: center;
    font-size: small;
    border-bottom: 1px #C4C2FF solid;
}
.boardTitle:hover{
    background-color: #d3f8f5;
}
.boardTitle {
    position: relative;
    background-color: white;
    z-index: 2;
}
.boardContent {
    visibility: hidden;
    border-bottom: 1px #C4C2FF solid;
    font-size: small;
    height: 0vh;
    transition: all 0.3s;
    color: white;
    position: relative;
    z-index: 1;
}
.visibilityToggle {
    visibility: visible;
    height: 100px;
    color: black;
    padding: 1%;
    z-index: 0;
}
.boardContent>p {
    height: 60%;
}
.contentButtons {
    width: 4em;
    border-radius: 5px;
    border: none;
    font-size: smaller;
    color: white;
    background-color: #0a53bd;
    text-align: center;
}
.pagingArea {
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 2;
    background-color: white;
}
.pagingArea>button {
    width: 2em;
    height: 2em;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #0a53bd;
    text-align: center;
}
.pagingArea>button:hover {
    background-color: #45d1ea;
}
.pagingArea>button:disabled {
    background-color: #b2c7e3;
}
#writeR, #writeQ {
    width: 5em;
    border-radius: 5px;
    border: none;
    font-size: smaller;
    color: white;
    background-color: #0a53bd;
    text-align: center;
    float: right;
}
@media screen and (max-width : 767px) {
    #productBoardContainer {
        width: 100%;
    }
}
@media screen and (min-width : 768px) and (max-width : 1024px) {
    #productBoardContainer {
        width: 80%;
    }
}